In [1]:
import sys
import pandas as pd
import numpy as np
import torch
from torch import Tensor

from matplotlib import pyplot as plt

sys.path.append("../")
from src.log import myLogger
from src.repository.data_repository import DataRepository
from src.checkpoint.checkpoint import Checkpoint

pd.set_option("display.max_columns", 300)
pd.set_option("display.max_rows", 600)

%load_ext autoreload
%autoreload 2

from IPython.core.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))
%config InlineBackend.figure_formats = {'png', 'retina'}

In [2]:
logger = myLogger("../logs/temp.log", exp_id="e000", wdb_prj_id="temp", exp_config=None, use_wdb=False) 
dr = DataRepository(logger=logger, local_root_path="..")

2021-11-09 23:30:00,035 log.py               31   [INFO] [__init__] skip wandb init

In [4]:
import pickle
# prep_df = pd.read_csv("../data/preprocessed/train_BaselineKernelPreprocessorV1_XLMRobertaTokenizerFast_400_True_135_True_False_False_False.csv")
# with open("../data/preprocessed/train_BaselineKernelPreprocessorV1_XLMRobertaTokenizerFast_400_True_135_True_False_False_False.pkl", "rb") as fin:
#     prep_df = pickle.load(fin)
prep_df = dr.load_preprocessed_df(
          dataset_name="train",                                                                                                                                                                                                                                   
          class_name="BaselineKernelPreprocessorV6",
          tokenizer_name="XLMRobertaTokenizerFast",
          max_length=400,
          pad_on_right=True,
          stride=135,
          split=False,
          lstrip=False,
          use_language_as_question=False,
          add_overflowing_batch_id=False,
    )

prep_df

2021-11-09 23:36:57,056 data_repository.py   253  [INFO] [load_preprocessed_df] loading data/preprocessed/train_BaselineKernelPreprocessorV6_XLMRobertaTokenizerFast_400_True_135_False_False_False_False.pkl ...
2021-11-09 23:36:59,996 data_repository.py   260  [INFO] [load_preprocessed_df] done.

,id,context,question,answer_text,answer_start,language,input_ids,token_type_ids,attention_mask,sequence_ids,offset_mapping,overflowing_batch_id,duplicated_elems_num_with,start_position,end_position,segmentation_position,is_contain_answer_text,max_successed_duplicated_elems_num_with
0,903deec17,ஒரு சாதாரண வளர்ந்த மனிதனுடைய எலும்புக்கூடு பின...,மனித உடலில் எத்தனை எலும்புகள் உள்ளன?,206,53,tamil,"[0, 69535, 81049, 37368, 153264, 12095, 52989,...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, None, Non...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",0,3,27,27,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1,3
1,903deec17,ஒரு சாதாரண வளர்ந்த மனிதனுடைய எலும்புக்கூடு பின...,மனித உடலில் எத்தனை எலும்புகள் உள்ளன?,206,53,tamil,"[0, 69535, 81049, 37368, 153264, 12095, 52989,...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, None, Non...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",1,1,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,3
2,903deec17,ஒரு சாதாரண வளர்ந்த மனிதனுடைய எலும்புக்கூடு பின...,மனித உடலில் எத்தனை எலும்புகள் உள்ளன?,206,53,tamil,"[0, 69535, 81049, 37368, 153264, 12095, 52989,...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, None, Non...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",2,1,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,3
3,903deec17,ஒரு சாதாரண வளர்ந்த மனிதனுடைய எலும்புக்கூடு பின...,மனித உடலில் எத்தனை எலும்புகள் உள்ளன?,206,53,tamil,"[0, 69535, 81049, 37368, 153264, 12095, 52989,...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, None, Non...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",3,1,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,3
4,903deec17,ஒரு சாதாரண வளர்ந்த மனிதனுடைய எலும்புக்கூடு பின...,மனித உடலில் எத்தனை எலும்புகள் உள்ளன?,206,53,tamil,"[0, 69535, 81049, 37368, 153264, 12095, 52989,...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, None, Non...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",4,2,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14183,ee569fe45,अमेरिका में जन्मीं अभिनेत्री तथा फैशन डिज़ाइनर...,लीजा रे की पहली फिल्म का नाम क्या था?,नेताजी,2017,hindi,"[0, 40531, 10886, 20322, 471, 47211, 12125, 64...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, None, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",0,5,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,5
14184,ee569fe45,अमेरिका में जन्मीं अभिनेत्री तथा फैशन डिज़ाइनर...,लीजा रे की पहली फिल्म का नाम क्या था?,नेताजी,2017,hindi,"[0, 40531, 10886, 20322, 471, 47211, 12125, 64...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, None, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",1,5,351,352,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1,5
14185,ee569fe45,अमेरिका में जन्मीं अभिनेत्री तथा फैशन डिज़ाइनर...,लीजा रे की पहली फिल्म का नाम क्या था?,नेताजी,2017,hindi,"[0, 40531, 10886, 20322, 471, 47211, 12125, 64...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, None, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",2,5,101,102,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1,5
14186,ee569fe45,अमेरिका में जन्मीं अभिनेत्री तथा फैशन डिज़ाइनर...,लीजा रे की पहली फिल्म का नाम क्या था?,नेताजी,2017,hindi,"[0, 40531, 10886, 20322, 471, 47211, 12125, 64...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, None, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",3,4,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,5
14187,ee569fe45,अमेरिका में जन्मीं अभिनेत्री तथा फैशन डिज़ाइनर...,लीजा रे की पहली फिल्म का नाम क्या था?,नेताजी,2017,hindi,"[0, 40531, 10886, 20322, 471, 47211, 12125, 64...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, None, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",4,3,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,5

In [41]:
for a in prep_df.question.drop_duplicates().head(20).tail(10):
    print(a)

முதல் உலகக்கோப்பை கால்பந்து போட்டியில் வென்ற அணி எது
பாரிஸ் எந்த நாட்டின் தலைநகரம் ஆகும்?
ஆப்பிரிக்க கண்டத்தின் பரப்பளவு என்ன?
மூன்று ஆழ்பள்ளத்தாக்கு அணையின் உயரம் எவ்வளவு?
பூட்டு செய்யும் தொழிலாளியான பீட்டர் ஹென்கின் எந்த ஆண்டு கடிகாரம் உருவாக்கினார்?
சாக்கிரட்டீசு எப்போது பிறந்தார்?
1 நிமிடத்தில் எத்தனை விநாடிகள் உள்ளன?
உலகில் மிக பெரிய பெரும்கடல் எது?
போர்த்துகல் நாட்டின் தலைநகரம் எது?
பயாப்ஸி என்றால் என்ன?

In [9]:
"மனித உடலில் எத்தனை எலும்புகள் உள்ளன?".split()

['மனித', 'உடலில்', 'எத்தனை', 'எலும்புகள்', 'உள்ளன?']

In [ ]:
# "எத்தனை" → how many

In [8]:
from string import punctuation

def get_context_part(offset_mapping, context):
    s = 1_000_000_000
    e = 0
    for (os, oe) in offset_mapping:
        if os == -1:
            continue
        s = min(os, s)
        e = max(oe, e)
    context_part = context[s:e]    
    return context_part

def calc_duplicated_elems_num_with(offset_mapping, context, question):
    context_part = get_context_part(offset_mapping, context)
    
    filter_elems = [
        "எத்தனை",  # how many
        "எங்கு",  # where
        "யார்",  # who
        "எவ்வாறு",  # what (?)
        "உள்ள", # anything within (?) 
        "எது", # which
        "எப்பொழுது",  # when
        "எப்போது",  # when
        "ஆகும்",  # is
        "என்ன",  # what
        "எவ்வளவு",  # how much
    ]
    
    context_part_words = [context_part_word.strip(punctuation) for context_part_word in context_part.split()]
    context_part_words = [context_part_word for context_part_word in context_part_words if context_part_word not in filter_elems]
    question_words = [question_word.strip(punctuation) for question_word in question.split()]
    question_words = [question_word for question_word in question_words if question_word not in filter_elems]
    
    duplicated_elems_num = set(context_part_words) & set(question_words)
    # duplicated_elems_num = set(context_part) & set(question)
    return len(duplicated_elems_num)

In [41]:
def contains_filter_elems(question):
    contains = False
    filter_elems = [
        "எத்தனை",  # how many
        "எங்கு",  # where
        "யார்",  # who
        "எவ்வாறு",  # what (?)
        "உள்ள", # anything within (?) 
        "எது", # which
        "எப்பொழுது",  # when
        "எப்போது",  # when
        "ஆகும்",  # is
        "என்ன",  # what
        "எவ்வளவு",  # how much
        "எந்த",  # No
        "எப்படி",  # how
        "யாரால்",  # by whom
        "எங்கே",  # where
        "किसने",  # who
        "क्या",  # what
        "कहाँ",  # where
        "कितने",  # how many
        "किस",  # what
        "कीहै",  # has (means what w/ ?)
        "कितनी",  # how many
        "कब",  # when
        "कौन",  # who
        "कहा",  # said  (where)
        "कितना",  # how much
        "का",  # NS (?)
        "किन",  #  why
    ]
    for filter_elem in filter_elems:
        if filter_elem in question:
            return True
    return False

prep_df["contains_filter_elems"] = prep_df["question"].apply(contains_filter_elems)
prep_df.contains_filter_elems.value_counts()

True     14127
False       61
Name: contains_filter_elems, dtype: int64

In [42]:
for q in prep_df.query("not contains_filter_elems").question.drop_duplicates().head(10):
    print(q)

लेम्बोर्गिनी इतालियन कंपनी द्वारा अब बनायीं गयी?

In [47]:
from tqdm import tqdm

tqdm.pandas()

prep_df["duplicated_elems_num"] = prep_df.progress_apply(lambda row: calc_duplicated_elems_num_with(row["offset_mapping"], str(row["context"]), str(row["question"])), axis=1)
prep_df

100%|██████████████████████████████████████████████████████████████████████████████████████████████████| 14188/14188 [00:03<00:00, 3862.27it/s]

,id,context,question,answer_text,answer_start,language,input_ids,token_type_ids,attention_mask,sequence_ids,offset_mapping,overflowing_batch_id,start_position,end_position,segmentation_position,is_contain_answer_text,duplicated_elems_num
0,903deec17,ஒரு சாதாரண வளர்ந்த மனிதனுடைய எலும்புக்கூடு பின...,மனித உடலில் எத்தனை எலும்புகள் உள்ளன?,206,53,tamil,"[0, 69535, 81049, 37368, 153264, 12095, 52989,...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, None, Non...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",0,27,27,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1,3
1,903deec17,ஒரு சாதாரண வளர்ந்த மனிதனுடைய எலும்புக்கூடு பின...,மனித உடலில் எத்தனை எலும்புகள் உள்ளன?,206,53,tamil,"[0, 69535, 81049, 37368, 153264, 12095, 52989,...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, None, Non...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",1,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,1
2,903deec17,ஒரு சாதாரண வளர்ந்த மனிதனுடைய எலும்புக்கூடு பின...,மனித உடலில் எத்தனை எலும்புகள் உள்ளன?,206,53,tamil,"[0, 69535, 81049, 37368, 153264, 12095, 52989,...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, None, Non...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",2,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,1
3,903deec17,ஒரு சாதாரண வளர்ந்த மனிதனுடைய எலும்புக்கூடு பின...,மனித உடலில் எத்தனை எலும்புகள் உள்ளன?,206,53,tamil,"[0, 69535, 81049, 37368, 153264, 12095, 52989,...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, None, Non...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",3,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,1
4,903deec17,ஒரு சாதாரண வளர்ந்த மனிதனுடைய எலும்புக்கூடு பின...,மனித உடலில் எத்தனை எலும்புகள் உள்ளன?,206,53,tamil,"[0, 69535, 81049, 37368, 153264, 12095, 52989,...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, None, Non...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",4,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14183,ee569fe45,अमेरिका में जन्मीं अभिनेत्री तथा फैशन डिज़ाइनर...,लीजा रे की पहली फिल्म का नाम क्या था?,नेताजी,2017,hindi,"[0, 40531, 10886, 20322, 471, 47211, 12125, 64...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, None, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",0,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,6
14184,ee569fe45,अमेरिका में जन्मीं अभिनेत्री तथा फैशन डिज़ाइनर...,लीजा रे की पहली फिल्म का नाम क्या था?,नेताजी,2017,hindi,"[0, 40531, 10886, 20322, 471, 47211, 12125, 64...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, None, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",1,351,352,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1,6
14185,ee569fe45,अमेरिका में जन्मीं अभिनेत्री तथा फैशन डिज़ाइनर...,लीजा रे की पहली फिल्म का नाम क्या था?,नेताजी,2017,hindi,"[0, 40531, 10886, 20322, 471, 47211, 12125, 64...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, None, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",2,101,102,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1,6
14186,ee569fe45,अमेरिका में जन्मीं अभिनेत्री तथा फैशन डिज़ाइनर...,लीजा रे की पहली फिल्म का नाम क्या था?,नेताजी,2017,hindi,"[0, 40531, 10886, 20322, 471, 47211, 12125, 64...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, None, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",3,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,5
14187,ee569fe45,अमेरिका में जन्मीं अभिनेत्री तथा फैशन डिज़ाइनर...,लीजा रे की पहली फिल्म का नाम क्या था?,नेताजी,2017,hindi,"[0, 40531, 10886, 20322, 471, 47211, 12125, 64...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, None, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",4,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,4

In [44]:
prep_df.duplicated_elems_num.value_counts().sort_index()

0     1974
1     2627
2     2170
3     2631
4     2025
5     1330
6      796
7      356
8      155
9       60
10      25
11      21
12       6
13       4
14       3
16       4
20       1
Name: duplicated_elems_num, dtype: int64

In [45]:
pd.crosstab(prep_df.duplicated_elems_num, prep_df.is_contain_answer_text)

is_contain_answer_text     0    1
duplicated_elems_num
0                       1913   61
1                       2443  184
2                       2011  159
3                       2432  199
4                       1824  201
5                       1160  170
6                        668  128
7                        272   84
8                         93   62
9                         31   29
10                         7   18
11                         6   15
12                         1    5
13                         0    4
14                         0    3
16                         0    4
20                         0    1

In [33]:
row = prep_df.query("duplicated_elems_num == 0 and is_contain_answer_text == 1").iloc[0]
row["context_part"] = get_context_part(row["offset_mapping"], row["context"])

print(row["id"])
print("==================================")
print(row["context_part"])
print("==================================")
print(row["question"])
print("==================================")
print(row["answer_text"])

2a5ba78e2
==================================
க்களும், போராளிகளுமாகச் சுமார் 20 மில்லியன் பேர் இறந்தனர். போரினால் ஏற்பட்ட, முற்றுகைகள், புரட்சிகள், இன ஒழிப்பு, நோய்த் தொற்றுக்கள் என்பன மக்களுடைய துன்பங்களை மேலும் அதிகப்படுத்தின. இப் போர் 1914ம் ஆண்டு முதல் 1918ம் ஆண்டு வரை நடைபெற்றது. இப் போரினால், 20 ஆம் நூற்றாண்டின் எஞ்சிய காலம் முழுதும், அரசியலிலும், பண்ணுறவாண்மை தொடர்பிலும் பெரும் விளைவுகள் ஏற்பட்டன. போரின் விளைவு காரணமாக, ஆஸ்திரோ-ஹங்கேரியப் பேரரசு, ரஷ்யப் பேரரசு, உதுமானிய பேரரசு என்பன சிதைவுற்றுத் துண்டுகள் ஆகின. செருமானியப் பேரரசு வீழ்த்தப்பட்டது. அது பெருமளவிலான நிலப்பகுதிகளை இழந்தது. இவ் விளைவுகள் காரணமாக ஐரோப்பாவிலும், மையக் கிழக்கிலும் நாடுகளின் எல்லைகள் மாற்றம் அடைந்தன. பழைய முடியாட்சிகளின் இடத்தில் பல பொதுவுடமை அரசுகளும், குடியரசுகளும் உருவாயின. மீண்டும் இவ்வாறான போர் ஏற்படாமல் தடுக்கும் நோக்கத்துடன், உலக வரலாற்றில் முதல் முறையாகப் பன்னாட்டு அமைப்பான நாடுகளின் சங்கம் (League of Nations) ஒன்று உருவானது. போரை முடிவுக்குக் கொண்டுவருவதற்காக ஏற்படுத்தப்பட்ட ஒப்பந்தங்களும், புதிதாக உருவான நாடுகளின் உறுதியற்ற தன்மைகளும், 20 ஆண்டுகளுக்குப் பின்னர் மீண்டும் ஒரு உலகப் போர் ஏற்படுவதற்கான முக்கிய காரணங்களாக அமைந்தன. 1871 ஆம் ஆண்டில் ஜேர்மனி ஒருங்கிணைக்கப்பட்டதும், 20 ஆம் நூற்றாண்டின் தொடக்கத்தில் ஐரோப்பாவின் வல்லரசுகளிடையே இக்கட்டான அதிகாரச் சமநிலை நிலவியதும் இப் போர் உருவாவதற்கான அடிப்படைக் காரணங்களுள் அடங்கும். இவற்றுடன், 19 ஆம் நூற்றாண்டில் ஜெர்மனியிடம் நிலப்பகுதி
==================================
முதலாம் உலகப்போர் எப்பொழுது துவங்கியது?
==================================
1914ம்

In [35]:
prep_df.query("id == '2a5ba78e2'")

,id,context,question,answer_text,answer_start,language,input_ids,token_type_ids,attention_mask,sequence_ids,offset_mapping,overflowing_batch_id,start_position,end_position,segmentation_position,is_contain_answer_text,duplicated_elems_num
67,2a5ba78e2,முதல் உலகப்போர் என்பது உலகம் தழுவிய அளவில் இடம...,முதலாம் உலகப்போர் எப்பொழுது துவங்கியது?,1914ம்,1070,tamil,"[0, 80087, 7667, 938, 32683, 34154, 2912, 1209...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, Non...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",0,322,323,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1,1
68,2a5ba78e2,முதல் உலகப்போர் என்பது உலகம் தழுவிய அளவில் இடம...,முதலாம் உலகப்போர் எப்பொழுது துவங்கியது?,1914ம்,1070,tamil,"[0, 80087, 7667, 938, 32683, 34154, 2912, 1209...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, Non...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",1,73,74,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1,0
69,2a5ba78e2,முதல் உலகப்போர் என்பது உலகம் தழுவிய அளவில் இடம...,முதலாம் உலகப்போர் எப்பொழுது துவங்கியது?,1914ம்,1070,tamil,"[0, 80087, 7667, 938, 32683, 34154, 2912, 1209...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, Non...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",2,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,0
70,2a5ba78e2,முதல் உலகப்போர் என்பது உலகம் தழுவிய அளவில் இடம...,முதலாம் உலகப்போர் எப்பொழுது துவங்கியது?,1914ம்,1070,tamil,"[0, 80087, 7667, 938, 32683, 34154, 2912, 1209...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, Non...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",3,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,0
71,2a5ba78e2,முதல் உலகப்போர் என்பது உலகம் தழுவிய அளவில் இடம...,முதலாம் உலகப்போர் எப்பொழுது துவங்கியது?,1914ம்,1070,tamil,"[0, 80087, 7667, 938, 32683, 34154, 2912, 1209...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, Non...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",4,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,0
72,2a5ba78e2,முதல் உலகப்போர் என்பது உலகம் தழுவிய அளவில் இடம...,முதலாம் உலகப்போர் எப்பொழுது துவங்கியது?,1914ம்,1070,tamil,"[0, 80087, 7667, 938, 32683, 34154, 2912, 1209...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, Non...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",5,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,0
73,2a5ba78e2,முதல் உலகப்போர் என்பது உலகம் தழுவிய அளவில் இடம...,முதலாம் உலகப்போர் எப்பொழுது துவங்கியது?,1914ம்,1070,tamil,"[0, 80087, 7667, 938, 32683, 34154, 2912, 1209...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, Non...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",6,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,0
74,2a5ba78e2,முதல் உலகப்போர் என்பது உலகம் தழுவிய அளவில் இடம...,முதலாம் உலகப்போர் எப்பொழுது துவங்கியது?,1914ம்,1070,tamil,"[0, 80087, 7667, 938, 32683, 34154, 2912, 1209...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, Non...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",7,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,0
75,2a5ba78e2,முதல் உலகப்போர் என்பது உலகம் தழுவிய அளவில் இடம...,முதலாம் உலகப்போர் எப்பொழுது துவங்கியது?,1914ம்,1070,tamil,"[0, 80087, 7667, 938, 32683, 34154, 2912, 1209...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, Non...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",8,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,0
76,2a5ba78e2,முதல் உலகப்போர் என்பது உலகம் தழுவிய அளவில் இடம...,முதலாம் உலகப்போர் எப்பொழுது துவங்கியது?,1914ம்,1070,tamil,"[0, 80087, 7667, 938, 32683, 34154, 2912, 1209...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, Non...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",9,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,0
77,2a5ba78e2,முதல் உலகப்போர் என்பது உலகம் தழுவிய அளவில் இடம...,முதலாம் உலகப்போர் எப்பொழுது துவங்கியது?,1914ம்,1070,tamil,"[0, 80087, 7667, 938, 32683, 34154, 2912, 1209...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, Non...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",10,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,0
78,2a5ba78e2,முதல் உலகப்போர் என்பது உலகம் தழுவிய அளவில் இடம...,முதலாம் உலகப்போர் எப்பொழுது துவங்கியது?,1914ம்,1070,tamil,"[0, 80087, 7667, 938, 32683, 34154, 2912, 1209...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, Non...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",11,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,0
79,2a5ba78e2,முதல் உலகப்போர் என்பது உலகம் தழுவிய அளவில் இடம...,முதலாம் உலகப்போர் எப்பொழுது துவங்கியது?,1914ம்,1070,tamil,"[0, 80087, 7667, 938, 32683, 34154, 2912, 1209...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, Non...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",12,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,0
80,2a5ba78e2,முதல் உலகப்போர் என்பது உலகம் தழுவிய அளவில் இடம...,முதலாம் உலகப்போர் எப்பொழுது துவங்கியது?,1914ம்,1070,tamil,"[0, 80087, 7667, 938, 32683, 34154, 2912, 1209...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, Non...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",13,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,0
81,2a5ba78e2,முதல் உலகப்போர் என்பது உலகம் தழுவிய அளவில் இடம...,முதலாம் உலகப்போர் எப்பொழுது துவங்கியது?,1914ம்,1070,tamil,"[0, 80087, 7667, 938, 32683, 34154, 2912, 1209...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, Non...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",14,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,0
82,2a5ba78e2,முதல் உலகப்போர் என்பது உலகம் தழுவிய அளவில் இடம...,முதலாம் உலகப்போர் எப்பொழுது துவங்கியது?,1914ம்,1070,tamil,"[0, 80087, 7667, 938, 32683, 34154, 2912, 1209...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, Non...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",15,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,0
83,2a5ba78e2,முதல் உலகப்போர் என்பது உலகம் தழுவிய அளவில் இடம...,முதலாம் உலகப்போர் எப்பொழுது துவங்கியது?,1914ம்,1070,tamil,"[0, 80087, 7667, 938, 32683, 34154, 2912, 1209...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, Non...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",16,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,0
84,2a5ba78e2,முதல் உலகப்போர் என்பது உலகம் தழுவிய அளவில் இடம...,முதலாம் உலகப்போர் எப்பொழுது துவங்கியது?,1914ம்,1070,tamil,"[0, 80087, 7667, 938, 32683, 34154, 2912, 1209...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, Non...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",17,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,0
85,2a5ba78e2,முதல் உலகப்போர் என்பது உலகம் தழுவிய அளவில் இடம...,முதலாம் உலகப்போர் எப்பொழுது துவங்கியது?,1914ம்,1070,tamil,"[0, 80087, 7667, 938, 32683, 34154, 2912, 1209...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, Non...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",18,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,1
86,2a5ba78e2,முதல் உலகப்போர் என்பது உலகம் தழுவிய அளவில் இடம...,முதலாம் உலகப்போர் எப்பொழுது துவங்கியது?,1914ம்,1070,tamil,"[0, 80087, 7667, 938, 32683, 34154, 2912, 1209...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, Non...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",19,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,1
87,2a5ba78e2,முதல் உலகப்போர் என்பது உலகம் தழுவிய அளவில் இடம...,முதலாம் உலகப்போர் எப்பொழுது துவங்கியது?,1914ம்,1070,tamil,"[0, 80087, 7667, 938, 32683, 34154, 2912, 1209...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, Non...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",20,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,0
88,2a5ba78e2,முதல் உலகப்போர் என்பது உலகம் தழுவிய அளவில் இடம...,முதலாம் உலகப்போர் எப்பொழுது துவங்கியது?,1914ம்,1070,tamil,"[0, 80087, 7667, 938, 32683, 34154, 2912, 1209...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, Non...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",21,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,0
89,2a5ba78e2,முதல் உலகப்போர் என்பது உலகம் தழுவிய அளவில் இடம...,முதலாம் உலகப்போர் எப்பொழுது துவங்கியது?,1914ம்,1070,tamil,"[0, 80087, 7667, 938, 32683, 34154, 2912, 1209...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, Non...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",22,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,0
90,2a5ba78e2,முதல் உலகப்போர் என்பது உலகம் தழுவிய அளவில் இடம...,முதலாம் உலகப்போர் எப்பொழுது துவங்கியது?,1914ம்,1070,tamil,"[0, 80087, 7667, 938, 32683, 34154, 2912, 1209...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, Non...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",23,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,0
91,2a5ba78e2,முதல் உலகப்போர் என்பது உலகம் தழுவிய அளவில் இடம...,முதலாம் உலகப்போர் எப்பொழுது துவங்கியது?,1914ம்,1070,tamil,"[0, 80087, 7667, 938, 32683, 34154, 2912, 1209...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, Non...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",24,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,1
92,2a5ba78e2,முதல் உலகப்போர் என்பது உலகம் தழுவிய அளவில் இடம...,முதலாம் உலகப்போர் எப்பொழுது துவங்கியது?,1914ம்,1070,tamil,"[0, 80087, 7667, 938, 32683, 34154, 2912, 1209...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, Non...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",25,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,1
93,2a5ba78e2,முதல் உலகப்போர் என்பது உலகம் தழுவிய அளவில் இடம...,முதலாம் உலகப்போர் எப்பொழுது துவங்கியது?,1914ம்,1070,tamil,"[0, 80087, 7667, 938, 32683, 34154, 2912, 1209...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, Non...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",26,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,1
94,2a5ba78e2,முதல் உலகப்போர் என்பது உலகம் தழுவிய அளவில் இடம...,முதலாம் உலகப்போர் எப்பொழுது துவங்கியது?,1914ம்,1070,tamil,"[0, 80087, 7667, 938, 32683, 34154, 2912, 1209...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, Non...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",27,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,1
95,2a5ba78e2,முதல் உலகப்போர் என்பது உலகம் தழுவிய அளவில் இடம...,முதலாம் உலகப்போர் எப்பொழுது துவங்கியது?,1914ம்,1070,tamil,"[0, 80087, 7667, 938, 32683, 34154, 2912, 1209...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, Non...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",28,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,0
96,2a5ba78e2,முதல் உலகப்போர் என்பது உலகம் தழுவிய அளவில் இடம...,முதலாம் உலகப்போர் எப்பொழுது துவங்கியது?,1914ம்,1070,tamil,"[0, 80087, 7667, 938, 32683, 34154, 2912, 1209...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, Non...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",29,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,0
97,2a5ba78e2,முதல் உலகப்போர் என்பது உலகம் தழுவிய அளவில் இடம...,முதலாம் உலகப்போர் எப்பொழுது துவங்கியது?,1914ம்,1070,tamil,"[0, 80087, 7667, 938, 32683, 34154, 2912, 1209...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, Non...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",30,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,0
98,2a5ba78e2,முதல் உலகப்போர் என்பது உலகம் தழுவிய அளவில் இடம...,முதலாம் உலகப்போர் எப்பொழுது துவங்கியது?,1914ம்,1070,tamil,"[0, 80087, 7667, 938, 32683, 34154, 2912, 1209...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, Non...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",31,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,0
99,2a5ba78e2,முதல் உலகப்போர் என்பது உலகம் தழுவிய அளவில் இடம...,முதலாம் உலகப்போர் எப்பொழுது துவங்கியது?,1914ம்,1070,tamil,"[0, 80087, 7667, 938, 32683, 34154, 2912, 1209...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, Non...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",32,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,1
100,2a5ba78e2,முதல் உலகப்போர் என்பது உலகம் தழுவிய அளவில் இடம...,முதலாம் உலகப்போர் எப்பொழுது துவங்கியது?,1914ம்,1070,tamil,"[0, 80087, 7667, 938, 32683, 34154, 2912, 1209...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, Non...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",33,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,1
101,2a5ba78e2,முதல் உலகப்போர் என்பது உலகம் தழுவிய அளவில் இடம...,முதலாம் உலகப்போர் எப்பொழுது துவங்கியது?,1914ம்,1070,tamil,"[0, 80087, 7667, 938, 32683, 34154, 2912, 1209...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, Non...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",34,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,0
102,2a5ba78e2,முதல் உலகப்போர் என்பது உலகம் தழுவிய அளவில் இடம...,முதலாம் உலகப்போர் எப்பொழுது துவங்கியது?,1914ம்,1070,tamil,"[0, 80087, 7667, 938, 32683, 34154, 2912, 1209...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, Non...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",35,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,1
103,2a5ba78e2,முதல் உலகப்போர் என்பது உலகம் தழுவிய அளவில் இடம...,முதலாம் உலகப்போர் எப்பொழுது துவங்கியது?,1914ம்,1070,tamil,"[0, 80087, 7667, 938, 32683, 34154, 2912, 1209...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, Non...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",36,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,0
104,2a5ba78e2,முதல் உலகப்போர் என்பது உலகம் தழுவிய அளவில் இடம...,முதலாம் உலகப்போர் எப்பொழுது துவங்கியது?,1914ம்,1070,tamil,"[0, 80087, 7667, 938, 32683, 34154, 2912, 1209...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, Non...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",37,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,1
105,2a5ba78e2,முதல் உலகப்போர் என்பது உலகம் தழுவிய அளவில் இடம...,முதலாம் உலகப்போர் எப்பொழுது துவங்கியது?,1914ம்,1070,tamil,"[0, 80087, 7667, 938, 32683, 34154, 2912, 1209...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, Non...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",38,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,2
106,2a5ba78e2,முதல் உலகப்போர் என்பது உலகம் தழுவிய அளவில் இடம...,முதலாம் உலகப்போர் எப்பொழுது துவங்கியது?,1914ம்,1070,tamil,"[0, 80087, 7667, 938, 32683, 34154, 2912, 1209...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, Non...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",39,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,2

In [37]:
row = prep_df.loc[67]
row["context_part"] = get_context_part(row["offset_mapping"], row["context"])

print(row["id"])
print("==================================")
print(row["context_part"])
print("==================================")
print(row["question"])
print("==================================")
print(row["answer_text"])

2a5ba78e2
==================================
முதல் உலகப்போர் என்பது உலகம் தழுவிய அளவில் இடம்பெற்ற ஒரு போர். எனினும் இது பெரும்பாலும் ஐரோப்பாவிலேயே நடைபெற்றது. இப் போரில் நேச நாடுகள் என்று அழைக்கப்பட்ட பிரான்ஸ், ரஷ்யா, பிரிட்டன் மற்றும் அமெரிக்கா ஆகிய நாடுகளும் மைய நாடுகள் என்று அழைக்கப்பட்ட ஆஸ்திரியா, ஹங்கேரி, ஜெர்மனி மற்றும் இத்தாலி ஆகிய நாடுகளும் எதிர்ப் பக்கங்களில் நின்று போரிட்டன. இதன் அளவும், செறிவும் முன்னெப்பொழுதும் இல்லாத அளவு பெரிதாக இருந்தது. பெருமளவினர் சண்டையில் ஈடுபட்டிருந்ததோடு பெரும் தொகையில் இழப்புகளும் ஏற்பட்டன. 60 மில்லியன் ஐரோப்பியர்களை உள்ளடக்கிய சுமார் 70 மில்லியன் போர்வீரர்கள் சண்டையில் ஈடுபட்டிருந்தனர். புதிய தொழில்நுட்பங்களின் வழிவந்த இயந்திரத் துப்பாக்கிகள், உயர்தரமான கனரகப் பீரங்கிகள், மேம்பட்ட போக்குவரத்து, நச்சு வளிமம், வான்வழிப் போர்முறை, நீர்மூழ்கிகள் என்பன போரின் தாக்கத்தைப் பெரிதும் அதிகப்படுத்தின. போரில் 40 மில்லியன் பேருக்குக் காயங்களும் உயிரிழப்புக்களும் ஏற்பட்டன. இதில் குடிமக்களும், போராளிகளுமாகச் சுமார் 20 மில்லியன் பேர் இறந்தனர். போரினால் ஏற்பட்ட, முற்றுகைகள், புரட்சிகள், இன ஒழிப்பு, நோய்த் தொற்றுக்கள் என்பன மக்களுடைய துன்பங்களை மேலும் அதிகப்படுத்தின. இப் போர் 1914ம் ஆண்டு முதல் 1918ம் ஆண்டு வரை நடைபெற்றது. இப் போரினால், 20 ஆம் நூற்றாண்டின் எஞ்சிய காலம் முழுதும், அரசியலிலும், பண்ணுறவாண்மை தொடர்பிலும் பெரும் விளைவுகள் ஏற்பட்டன. போரின் விளைவு காரணமாக, ஆஸ்திரோ-ஹங்கேரியப் பேரரசு, ரஷ்யப் பேரரசு, உதுமானிய பேர
==================================
முதலாம் உலகப்போர் எப்பொழுது துவங்கியது?
==================================
1914ம்

/opt/conda/lib/python3.7/site-packages/pandas/core/series.py:1056: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cacher_needs_updating = self._check_is_chained_assignment_possible()
/opt/conda/lib/python3.7/site-packages/pandas/core/indexing.py:1724: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer_missing(indexer, value)

In [38]:
print(row["context"])

முதல் உலகப்போர் என்பது உலகம் தழுவிய அளவில் இடம்பெற்ற ஒரு போர். எனினும் இது பெரும்பாலும் ஐரோப்பாவிலேயே நடைபெற்றது. இப் போரில் நேச நாடுகள் என்று அழைக்கப்பட்ட பிரான்ஸ், ரஷ்யா, பிரிட்டன் மற்றும் அமெரிக்கா ஆகிய நாடுகளும் மைய நாடுகள் என்று அழைக்கப்பட்ட ஆஸ்திரியா, ஹங்கேரி, ஜெர்மனி மற்றும் இத்தாலி ஆகிய நாடுகளும் எதிர்ப் பக்கங்களில் நின்று போரிட்டன. இதன் அளவும், செறிவும் முன்னெப்பொழுதும் இல்லாத அளவு பெரிதாக இருந்தது. பெருமளவினர் சண்டையில் ஈடுபட்டிருந்ததோடு பெரும் தொகையில் இழப்புகளும் ஏற்பட்டன. 60 மில்லியன் ஐரோப்பியர்களை உள்ளடக்கிய சுமார் 70 மில்லியன் போர்வீரர்கள் சண்டையில் ஈடுபட்டிருந்தனர். புதிய தொழில்நுட்பங்களின் வழிவந்த இயந்திரத் துப்பாக்கிகள், உயர்தரமான கனரகப் பீரங்கிகள், மேம்பட்ட போக்குவரத்து, நச்சு வளிமம், வான்வழிப் போர்முறை, நீர்மூழ்கிகள் என்பன போரின் தாக்கத்தைப் பெரிதும் அதிகப்படுத்தின. போரில் 40 மில்லியன் பேருக்குக் காயங்களும் உயிரிழப்புக்களும் ஏற்பட்டன. இதில் குடிமக்களும், போராளிகளுமாகச் சுமார் 20 மில்லியன் பேர் இறந்தனர். போரினால் ஏற்பட்ட, முற்றுகைகள், புரட்சிகள், இன ஒழிப்பு, நோய்த் தொற்றுக்கள் என்பன மக்களுடைய துன்பங்களை மேலும் அதிகப்படுத்தின. இப் போர் 1914ம் ஆண்டு முதல் 1918ம் ஆண்டு வரை நடைபெற்றது. இப் போரினால், 20 ஆம் நூற்றாண்டின் எஞ்சிய காலம் முழுதும், அரசியலிலும், பண்ணுறவாண்மை தொடர்பிலும் பெரும் விளைவுகள் ஏற்பட்டன. போரின் விளைவு காரணமாக, ஆஸ்திரோ-ஹங்கேரியப் பேரரசு, ரஷ்யப் பேரரசு, உதுமானிய பேரரசு என்பன சிதைவுற்றுத் துண்டுகள் ஆகின. செருமானியப் பேரரசு வீழ்த்தப்பட்டது. அது பெருமளவிலான நிலப்பகுதிகளை இழந்தது. இவ் விளைவுகள் காரணமாக ஐரோப்பாவிலும், மையக் கிழக்கிலும் நாடுகளின் எல்லைகள் மாற்றம் அடைந்தன. பழைய முடியாட்சிகளின் இடத்தில் பல பொதுவுடமை அரசுகளும், குடியரசுகளும் உருவாயின. மீண்டும் இவ்வாறான போர் ஏற்படாமல் தடுக்கும் நோக்கத்துடன், உலக வரலாற்றில் முதல் முறையாகப் பன்னாட்டு அமைப்பான நாடுகளின் சங்கம் (League of Nations) ஒன்று உருவானது. போரை முடிவுக்குக் கொண்டுவருவதற்காக ஏற்படுத்தப்பட்ட ஒப்பந்தங்களும், புதிதாக உருவான நாடுகளின் உறுதியற்ற தன்மைகளும், 20 ஆண்டுகளுக்குப் பின்னர் மீண்டும் ஒரு உலகப் போர் ஏற்படுவதற்கான முக்கிய காரணங்களாக அமைந்தன. 1871 ஆம் ஆண்டில் ஜேர்மனி ஒருங்கிணைக்கப்பட்டதும், 20 ஆம் நூற்றாண்டின் தொடக்கத்தில் ஐரோப்பாவின் வல்லரசுகளிடையே இக்கட்டான அதிகாரச் சமநிலை நிலவியதும் இப் போர் உருவாவதற்கான அடிப்படைக் காரணங்களுள் அடங்கும். இவற்றுடன், 19 ஆம் நூற்றாண்டில் ஜெர்மனியிடம் நிலப்பகுதிகளை இழந்ததில் பிரான்சுக்கு ஏற்பட்ட எதிர்ப்பு உணர்வு; ஜேர்மனிக்கும், பிரித்தானியாவுக்கும் இடையே பொருளியல், படைத்துறை, குடியேற்றங்கள் தொடர்பான போட்டிகள்; பால்கன் பகுதிகளில் ஆஸ்திரோ-ஹங்கேரிய ஆட்சி தொடர்ச்சியான உறுதியற்ற நிலையில் இருந்தமை என்பனவும் இப் போருக்கான மேலதிக காரணங்களாகும். ஆஸ்திரியா நாட்டுப் பட்டத்து இளவரசரான பிரான்சிஸ் பெர்டினாண்டும், அவருடைய மனைவியும் காரில் சென்ற போது (1914 ஜுன் 28) சுட்டுக் கொல்லப்பட்டது போர் தொடங்குவதற்கான உடனடிக் காரணம் ஆயிற்று. சுட்டவன், காவ்ரீலோ பிரின்சிப்,செர்பியா நாட்டைச்சேர்ந்தவன். இதன் காரணமாகப் பழிவாங்கும் நோக்குடன், செர்பிய இராச்சியத்தின் மீது ஆஸ்திரியா படையெடுத்தது. இதனைத் தொடர்ந்து பல கூட்டணிகள் உருவாயின. பல ஐரோப்பிய நாடுகள் பேரரசு எல்லைகள் உலகின் பல பகுதிகளிலும் இருந்ததால் விரைவிலேயே போர் உலகம் முழுவதற்கும் விரிவடைந்தது. சில கிழமைகளுக்கு உள்ளாகவே பெரும்பாலான ஐரோப்பிய நாடுகள் போரில் இறங்கிவிட்டன. போர் முக்கியமாக நேச நாடுகள், மைய நாடுகள் எனப்பட்ட இரண்டு கூட்டணிகளுக்கு இடையே நடை பெற்றது. நேச நாடுகளின் பக்கத்தில் தொடக்கத்தில் பிரான்ஸ், ஐக்கிய இராச்சியம், ரஷ்யா என்பனவும் அவற்றோடு சேர்ந்த பேரரசுகளும் இருந்தன. பின்னர் பல நாடுகள் இக் கூட்டணியில் இணைந்தன. குறிப்பாக, ஆகஸ்ட் 1914ல் ஜப்பானும், ஏப்ரல் 1915 இல் இத்தாலியும், ஏப்ரல் 1917ல் ஐக்கிய அமெரிக்காவும் இணைந்தன. ஐரோப்பாவின் மையப் பகுதியில் இருந்ததால் மைய நாடுகள் என அழைக்கப்பட்ட கூட்டணியில், ஜெர்மனியும், ஆஸ்திரியாவும் அவற்றோடு சேர்ந்த பேரரசுகளும் இருந்தன. ஓட்டோமான் பேரரசு 1914 அக்டோபரில் இக் கூட்டணியில் இணைந்தது. ஓராண்டு கழித்து பல்கேரியாவும் இதில் இணைந்தது. போர் விமானங்களும், போர்க் கப்பல்களும், நீர்மூழ்கிக் கப்பல்களும் முதன் முதலாக இந்தப் போரில் தான் பயன்படுத்தப்பட்டன. போர் முடிந்தபோது, நெதர்லாந்து, சுவிட்சர்லாந்து, ஸ்பெயின், ஸ்கண்டினேவிய நாடுகள் மொனாக்கோ என்பன மட்டுமே ஐரோப்பாவில் நடுநிலையில் இருந்தன. எனினும் இவற்றுட் சில நாடுகள் போர்புரிந்த நாடுகளுக்குப் பொருளுதவிகள் செய்திருக்கக்கூடும். போர் பெரும்பாலும் ஐரோப்பாக் கண்டத்தைச் சுற்றியுள்ள பல முனைகளில் இடம்பெற்றது. மேற்கு முனை எவருக்கும் சொந்தமில்லாத பகுதிகளால் பிரிக்கப்பட்ட, பதுங்கு குழிகளும் அரண்களும் நிறைந்த பகுதியாக இருந்தது[1]. இவ்வரண்கள் 475 மைல்கள் தூரத்துக்கு (600 கிலோ மீட்டருக்கு மேல்) அமைந்திருந்தன[1]. இது பதுங்கு குழிப் போர் என அழைக்கப்படலாயிற்று. கிழக்குப் போர் முனை பரந்த வெளிகளைக் கொண்டிருந்ததாலும், தொடர்வண்டிப் பாதை வலையமைப்பு அதிகம் இல்லாதிருந்ததாலும் மேற்கு முனையைப்போல் யாருக்கும் வெற்றியில்லாத நிலை காணப்படவில்லை. எனினும் போர் தீவிரமாகவே நடைபெற்றது. பால்கன் முனை, மையக் கிழக்கு முனை, இத்தாலிய முனை ஆகிய முனைகளிலும் கடும் சண்டை நடைபெற்றது. அத்துடன், கடலிலும், வானிலும் சண்டைகள் இடம்பெற்றன. காரணங்கள் 1914 ஆம் ஆண்டு ஜூன் 28 ஆம் தேதி பாஸ்னிய சேர்பிய மாணவனான காவ்ரிலோ பிரின்சிப் என்பவன் ஆஸ்திரோ ஹங்கேரியின் முடிக்குரிய இளவரசரான ஆர்ச்டியூக் பிராண்ஸ் பேர்டினண்டை சரயேவோவில் வைத்துச் சுட்டுக் கொன்றான். பிரின்சிப், தெற்கு சிலாவியப் பகுதிகளை ஒன்றிணைத்து அதனை ஆஸ்திரோ ஹங்கேரியில் இருந்து விடுவிப்பதை நோக்கமாகக் கொண்ட இளம் பாஸ்னியா என்னும் அமைப்பின் உறுப்பினன். சரயேவோவில் நடைபெற்ற இக் கொலையைத் தொடர்ந்து மிக வேகமாக நடந்தேறிய நிகழ்வுகளைத் தொடர்ந்து முழு அளவிலான போர் வெடித்தது.[2] ஆஸ்திரோ ஹங்கேரி இக் கொலைக்குக் காரணமானவர்கள் மீது கடும் நடவடிக்கை எடுக்கவேண்டும் எனச் சேர்பியாவைக் கோரியது. எனினும், சேர்பியா இதற்குச் செவிசாய்க்கவில்லை எனக் கருதிய ஆஸ்திரோ ஹங்கேரி சேர்பியா மீது போர் தொடுத்தது. ஐரோப்பிய நாடுகளிற் பல கூட்டுப் பாதுகாப்பிற்காக ஒன்றுடன் ஒன்று செய்து கொண்டிருந்த ஒப்பந்தங்கள் காரணமாகவும், சிக்கலான பன்னாட்டுக் கூட்டணிகள் காரணமாகவும் பெரும்பாலான அந்த நாடுகள் போரில் ஈடுபடவேண்டி ஏற்பட்டது. ஆயுதப் போட்டி ஜெர்மனிக்கு, பிரித்தானியாவைப் போல பெரிய பேரரசின் வணிகச் சாதகநிலை இல்லாமல் இருந்தபோதும், 1914 ஆம் ஆண்டளவில் அந் நாட்டின் தொழில்துறை பிரித்தானியாவினதைக் காட்டிலும் பெரிதாகி விட்டது. இதனால், தத்தமது கடற்படைகளை வலுவாக வைத்திருக்கவேண்டி போருக்கு முந்திய ஆண்டுகளில் இரு நாடுகளும் பெருமளவிலான போர்க் கப்பல்களைக் கட்டின. இவ்விரு நாடுகளுக்கும் இடையிலான இந்தக் கடற்படைப் போட்டி 1906 ஆம் ஆண்டளவில் எச்எம்எஸ் டிரெட்நோட் (HMS Dreadnought) என்னும் போர்க்கப்பலின் வெள்ளோட்டத்துடன் மேலும் தீவிரமானது. இப் போர்க் கப்பலின் அளவும், வலுவும் இதற்கு முந்திய கப்பல்களை காலம் கடந்தவை ஆக்கின. பிரித்தானியா பிற துறைகளிலும் தனது கப்பற்படையின் முன்னணி நிலையைப் பேணிவந்தது. டேவிட் ஸ்டீவன்சன் என்பார் இந்த ஆயுதப் போட்டியை, தன்னைத்தானே சுழல்முறையில் வலுப்படுத்திக்கொண்ட உச்சநிலையிலான படைத்துறைத் தயார்நிலை என விளக்கினார்."[3] டேவிட் ஹெர்மான் கப்பல் கட்டும் போட்டியை போரை நோக்கிய ஒரு நகர்வாகவே பார்த்தார்.[4] எனினும் நீல் பெர்கூசன் என்பார், பிரித்தானியா தனது முன்னணி நிலையைத் தக்க வைத்துக் கொள்ளும் வலிமையைக் கொண்டிருந்ததால், ஏற்படவிருந்த போருக்கான காரணமாக இது இருக்க முடியாது என வாதிட்டார்.[5] இந்த ஆயுதப் போட்டிக்கான செலவு பிரித்தானியா, ஜெர்மனி ஆகிய இரு நாடுகளிலுமே தாக்கத்தை ஏற்படுத்தின. பிரித்தானியா, ஜேர்மனி, பிரான்ஸ், ரஷ்யா, ஆஸ்திரியா-ஹங்கேரி, இத்தாலி ஆகிய பெரிய வல்லரசுகளின் ஆயுதங்களுக்கான மொத்தச் செலவு 1908 க்கும் 1913 க்கும் இடையில் 50% கூடியது.[6] திட்டங்கள், நம்பிக்கையின்மை, படைதிரட்டல் ஜெர்மனி, பிரான்ஸ், ரஷ்யா ஆகிய நாடுகளில் மேற்கொள்ளப்பட்ட படைதிரட்டல் திட்டங்கள் பிணக்குகளைத் தாமாகவே தீவிரமாக்கின எனப் பல அரசியல் அறிஞர்கள் கருதுகின்றனர். பல மில்லியன் கணக்கான படையினரைச் செயற்படவைத்தல், நகர்த்துதல், வசதிகள் அளித்தல் போன்றவற்றின் சிக்கலான தன்மைகளினால், தயார்ப் படுத்துதலுக்கான திட்டங்களை முன்னராகவே தொடங்கவேண்டி இருந்தது. இத்தகைய தயார்ப்படுத்தல் உடனடியாகவே தாக்குதலை நடத்தவேண்டிய நிலையையும் நாடுகளுக்கு ஏற்படுத்தியது. குறிப்பாக, ஃபிரிட்ஸ் பிஷர் (Fritz Fischer) என்னும் வரலாற்றாளர் ஜேர்மனியின் ஸ்கீல்பென் திட்டத்தின் உள்ளார்ந்த தீவிரத்தன்மை பற்றி எடுத்துக்காட்டினார். ஜேர்மனிக்கு இரண்டு முனைகளில் போரிடவேண்டிய நிலை இருந்ததனால் ஒருமுனையில் எதிரியை விரைவாக ஒழித்துவிட்டு அடுத்த முனையில் கவனம் செலுத்தவேண்டிய தேவை இருந்தது. இதனால், வலுவான தாக்குதல் ஒன்றின் மூலம் பெல்ஜியத்தைக் கைப்பற்றிக்கொண்டு, பிரான்சின் படைகள் தயாராகுமுன்பே அதனைத் தாக்கிச் செயலிழக்கச் செய்ய வேண்டும் என்பதும் திட்டமாக இருந்தது. இதன் பின்னர் ஜேர்மன் படையினர் தொடர்வண்டிப் பாதை வழியாகக் கிழக்கு நோக்கிச் சென்று மெதுவாகத் தயாராகிக் கொண்டிருக்கும் ரஷ்யப் படைகளை அழிப்பது திட்டம். பிரான்சின் திட்டம் 17, ஜேர்மனியில் தொழிற்றுறை மையமான ரூர் பள்ளத்தாக்கைத் (Ruhr Valley) தாக்குவதை நோக்கமாகக் கொண்டிருந்தது. கோட்பாட்டு அடிப்படையில் இது, ஜேர்மனி நவீன போர் நடவடிக்கைகளில் ஈடுபடும் வலிமையை ஒழித்துவிடும். ரஷ்யாவின் திட்டம் 19, ஆஸ்திரியா-ஹங்கேரி, ஜேர்மனி, ஓட்டோமான்கள் ஆகியோருக்கு எதிராக ஒரே நேரத்தில் தாக்குதல்களைத் தொடங்க வேண்டுமென எதிர்பார்த்தது. எனினும், திருத்தப்பட்ட திட்டம் 19 இன் படி ஆஸ்திரியா-ஹங்கேரியே முதன்மை இலக்காகக் கொள்ளப்பட்டது. இதன்மூலம் கிழக்குப் பிரசியாவுக்கு எதிராகப் படைகளை அனுப்புவதற்கான தேவை குறைகின்றது. மூன்று திட்டங்களுமே விரைவாகச் செயற்படுவது வெற்றியை முடிவு செய்யும் என்னும் கருத்தை அடிப்படையாகக் கொண்டிருந்தன. விரிவான கால அட்டவணைகள் தயாரிக்கப்பட்டன. போருக்கான ஆயத்தங்கள் தொடங்கிய பின் திரும்பிப் பார்க்கும் சாத்தியங்கள் மிகவும் குறைவு. இராணுவவாதமும் வல்லாண்மையும் முன்னாள் ஐக்கிய அமெரிக்க சனாதிபதியான வூட்ரோ வில்சனும், வேறு சிலரும் போருக்கான காரணமாக இராணுவவாதத்தைக் (militarism) குற்றம் சாட்டினர்.[7] ஜேர்மனி, ரஷ்யா, ஆஸ்திரியா-ஹங்கேரி போன்ற நாடுகளில் வல்லாண்மை வாதிகளும், படைத்துறைத் தலைவர்களும் கூடிய அதிகாரங்களைக் கொண்டிருக்கின்றனர் என்றும், சனநாயகத்தை அமுக்கிவிட்டு இராணுவ அதிகாரத்தைப் பெருக்கிக் கொள்வதற்கான அவர்களின் ஆசையின் விளைவே போர் என்றும் சிலர் கூறுகின்றனர்.[8] இந்தக் கருத்து ஜேர்மனிக்கு எதிரான பரப்புரைகளில் பெரிதும் பயன்பட்டது.[9][10] 1918 ஆம் ஆண்டளவில் ஜேர்மனியின் முயற்சிகள் தோல்வியடையத் தொடங்கியபோது இரண்டாம் கெய்சர் வில்கெல்ம் போன்ற தலைவர்கள் விலக வேண்டும் என்ற கோரிக்கைகள் எழுந்தன. அத்துடன், இராணுவவாதமும், வல்லாண்மையியமும் (aristocracy) முடிவுக்குக் கொண்டுவரப்பட வேண்டும் என்ற பொதுவான கோரிக்கைகளும் உருவாகின. இந்த அடிப்படை 1917 ல் ரஷ்யா சரணடைந்ததன் பின்னர், அமெரிக்கா போரில் பங்குபற்றுவதற்கான நிலைமையைத் தோற்றுவித்தது.[11] நேச நாடுகளின் கூட்டணியின் முக்கிய பங்காளிகளான பெரிய பிரித்தானியாவும், பிரான்சும் மக்களாட்சியைக் கொண்ட நாடுகள். இவை ஜெர்மனி, ஆஸ்திரியா-ஹங்கேரி, ஓட்டோமான் பேரரசு போன்ற சர்வாதிகார நாடுகளுடன் போரிட்டன. நேச நாடுகளில் ஒன்றாகிய ரஷ்யா 1917 ஆம் ஆண்டு வரை ஒரு பேரரசாக இருந்தது, எனினும் அது ஆஸ்திரியா-ஹாங்கேரியினால் சிலாவிய மக்கள் ஒடுக்கப்படுவதை எதிர்த்தது. இப் பின்னணியில் இப் போர் தொடக்கத்தில் சனநாயகத்துக்கும், சர்வாதிகாரத்துக்கும் இடையிலான போராகவே பார்க்கப்பட்டது. எனினும், போர் தொடர்ந்தபோது இது அதன் நம்பகத்தன்மையை இழந்துவிட்டது. நாடுகளின் சங்கமும் (League of Nations), ஆயுதக்குறைப்பும் உலகிக் நிலைத்த அமைதியை ஏற்படுத்தும் என வில்சன் நம்பினார். எச். ஜி. வெல்ஸ் என்பாரின் கருத்தொன்றைப் பின்பற்றி போரை, "எல்லாப் போர்களையும் முடித்து வைப்பதற்கான போர்" என விபரித்தார். பிரித்தானியாவும், பிரான்சும் கூட இராணுவவாதத்தில் சிக்கியிருந்த போதும் போரை முடிவுக்குக் கொண்டுவரும் நோக்கத்தை அடைவதற்காக, அவர்களுடன் சேர்ந்து போரிட அவர் தயாராக இருந்தார். பிரிட்ஸ் பிஷர் (Fritz Fischer) போருக்காகப் பெரும்பாலும் ஜேர்மனியின் வல்லாண்மைவாதத் தலைவர்களையே குற்றஞ்சாட்டினார்[12]. ஜேர்மனியின் சமூக சனநாயகக் கட்சி பல தேர்தல்களில் வெற்றிபெற்று இருந்தது. அவர்களுடைய தங்களுடைய வாக்கு விகிதத்தை அதிகரித்து 1912 ஆம் ஆண்டில் பெரும்பான்மைக் கட்சியானது. எனினும் திரிவு செய்யப்பட்ட அவைகளுக்கு, கெய்சருடன் ஒப்பிடும்போது குறைவான அதிகாரங்களே இருந்தன. இச் சூழலில் ஒருவகையான அரசியல் புரட்சி ஏற்படுவதற்கான சாத்தியங்கள் அதிகம் இருப்பதாக அஞ்சப்பட்டது. ரஷ்யாவிலும் படைப் பெருக்கமும், 1916-1917 ஆம் ஆண்டுகளில் நிறைவேற்றப்பட வேண்டிய சீர்திருத்த நடைவடிக்கைகளும் நடந்து வந்தன. இவைகளுக்கு முன்பே போரில் ரஷ்யா தோல்வியுற்று, ஜேர்மனி ஒன்றிணைக்கப்படக் கூடிய நிலை இருந்தது. தனது பிந்திய ஆக்கங்களில், ஜேர்மனி 1912 ஆம் ஆண்டிலேயே போரைத் திட்டமிட்டு விட்டதாக பிஷர் வாதித்தார்[13]. வரலாற்றாளரான சாமுவேல் ஆர். வில்லியம்சன் போரில் ஆஸ்திரியா-ஹங்கேரியின் பங்களிப்பை வலியுறுத்தினார். சேர்பியத் தேசியவாதமும், ரஷ்யாவுக்கு பால்க்கன் பகுதி தொடர்பில் இருந்த குறிக்கோள்களும், 17 வெவ்வேறு நாட்டினங்களைக் கொண்டிருந்த முடியாட்சியைச் சீர்குலைத்ததாக அவர் கருதினார். ஆஸ்திரியா-ஹங்கேரி, சேர்பியாவுக்கு எதிராக ஒரு வரையறுக்கப்பட்ட போரையே எதிர்பார்த்தது என்றும், வலுவான ஜேர்மனியின் ஆதரவு ரஷ்யாவைப் போரிலிருந்து விலக்கி வைத்து பால்கனில் அதற்கு இருக்கும் கௌரவத்தைக் குறைக்கும் என அது எண்ணி இருந்ததாகவும் அவர் கருத்து வெளியிட்டார்[14]. அதிகாரச் சமநிலை போருக்கு முந்திய காலத்தில் வல்லரசுகளின் வெளிநாட்டுக் கொள்கைகளின் இலக்கு அதிகாரச் சமநிலையைப் பேணிக் கொள்வதாகும். இது, வெளிப்படையானதும், இரகசியமானதுமான கூட்டணிகளையும், ஒப்பந்தங்களையும் உள்ளடக்கிய விரிவான வலையமைப்புக்களோடு தொடர்புபட்டது. எடுத்துக் காட்டாக பிராங்கோ-பிரஷ்யப் போருக்குப் (1870–71) பின்னர், தனது மரபுவழியான எதிரியான பிரான்சின் பலத்தைச் சமப்படுத்துவதற்கு வலுவான ஜெர்மனியைப் பிரித்தானியா விரும்பியது. ஆனால், பிரித்தானியாவின் கடற்படைக்குச் சவாலாக ஜேர்மனி தனது கப்பற்படையைக் கட்டியெழுப்ப முற்பட்டபோது, பிரித்தானியா தனது நிலையை மாற்றிக்கொண்டது. ஜேர்மனியின் அச்சுறுத்தலைச் சமாளிப்பதற்காகத் துணை தேடிய பிரான்ஸ், ரஷ்யாவைக் கூட்டாளி ஆக்கிக்கொண்டது. ரஷ்யாவிடம் இருந்து அச்சுறுத்தலை எதிர்கொண்ட ஆஸ்திரியா-ஹங்கேரி, ஜேர்மனியின் ஆதரவை நாடியது. முதல் உலகப் போர் தொடங்கிய பின்னர், இவ்வாறான ஒப்பந்தங்கள் ஓரளவுக்கு மட்டுமே எந்தநாடு எந்தப் பக்கத்துக்குச் சார்பாகப் போரிட்டது என்பதை முடிவு செய்தது. இத்தாலி, ஆஸ்திரியா-ஹங்கேரியுடனும், ஜேர்மனியுடனும் ஒப்பந்தங்களைச் செய்திருந்தது. எனினும் அது அந் நாடுகளுக்குச் சார்பாகப் போரில் இறங்கவில்லை. அது பின்னர் நேச நாடுகளுக்கு ஆதரவாக இருந்தது. எல்லாவற்றிலும் குறிப்பிடத்தக்க ஒப்பந்தம் ஜேர்மனிக்கும், ஆஸ்திரியா-ஹங்கேரிக்கும் இடையே முதலில் தற்பாதுகாப்புக்காகச் செய்து கொள்ளப்பட்ட ஒப்பந்தம் ஆகும். இதனை 1909 ஆம் ஆண்டில் ஜேர்மனி விரிவுபடுத்தி, ஆஸ்திரியா-ஹங்கேரி போரைத் தொடங்கினாலும் கூட ஜேர்மனி அதன் பக்கம் இருக்கும் என உறுதி கூறியது[15]. பொருளியல் பேரரசுவாதம் விளாடிமிர் லெனின் பேரரசுவாதமே போருக்கான காரணம் எனக் குறிப்பிட்டார். இவர் கார்ல் மார்க்ஸ், ஆங்கிலப் பொருளியலாளரான ஜான் ஏ. ஹொப்சன் ஆகியோரின் பொருளியல் கோட்பாடுகளை எடுத்துக் காட்டினார்.[16] இவர்கள், விரிவடையும் சந்தைகளுக்கான போட்டி உலகளாவிய பிணக்குகளை உருவாக்கும் என்று எதிர்வு கூறியிருந்தனர். பிரித்தானியாவின் முதன்மையான பொருளியல் நிலை, செருமானியத் தொழில் துறையின் விரிவான வளர்ச்சி அச்சுறுத்தியது என்றும், பெரிய பேரசு ஒன்றின் சாதகநிலை செருமனிக்கு இல்லாத காரணத்தால், அது செருமானிய மூலதனங்களுக்கான இடங்களுக்காகப் பிரித்தானியாவுடன் தவிர்க்கமுடியாதபடி போரிட வேண்டியிருந்தது என்றும் லெனின் எடுத்துக் காட்டினார். இவ் வாதம் போர்க்காலத்தில் பெரிதும் பெயர் பெற்றிருந்ததுடன், பொதுவுடமையியத்தின் வளர்ச்சிக்கும் துணையாக இருந்தது. வணிகத் தடைகள் அமெரிக்காவில் பிராங்க்லின் ரோஸ்வெல்ட்டின் கீழ் உள்நாட்டுச் செயலாளராக இருந்த கோர்டெல் ஹல் என்பார், வணிகத் தடைகளே முதல் உலகப் போர், இரண்டாம் உலகபோர் இரண்டுக்குமான அடிப்படைக் காரணங்கள் என நம்பினார். 1944 ஆம் ஆண்டில், பிணக்குகளுக்குக் காரணங்கள் என அவர் நம்பிய வணிகத் தடைகளைக் குறைப்பதற்காக பிரெட்டன் வூட்ஸ் ஒப்பந்தம் என்னும் ஒப்பந்தத்தை உருவாக்குவதில் உதவினார்.[17][18] இன, அரசியல் போட்டிகள் பால்க்கன் பகுதிகளில் ஆஸ்திரியா-ஹங்கேரியின் செல்வாக்குக் குறைந்து, பரந்த-சிலேவியா இயக்கம் வளர்ச்சி பெற்றுவந்ததால், ஆஸ்திரியா-ஹங்கேரிக்கும், சேர்பியாவுக்கும் இடையிலான போர் தவிர்க்க முடியாததெனவே கருதப்பட்டது. ஆஸ்திரிய எதிர்ப்பு உணர்வு அதிகமாகக் காணப்பட்ட சேர்பியாவின் வளர்ச்சியுடன் இனவழித் தேசியம் பொருந்தி வந்தது. ஆஸ்திரியா-ஹங்கேரி, முன்னைய ஓட்டோமான் பேரரசின் மாகாணமாக இருந்ததும், சேர்பியர்கள் அதிகம் வாழ்ந்து வந்ததுமான பொஸ்னியா-ஹெர்சகொவினாவை 1878 ஆம் ஆண்டில் கைப்பற்றிக் கொண்டது. 1908 ஆம் ஆண்டில் இது முறையாக ஆஸ்திரியா-ஹங்கேரியுடன் இணைக்கப்பட்டது. அதிகரித்து வந்த இன உணர்வுகளின் வளர்ச்சி, ஓட்டோமான் பேரரசின் வீழ்ச்சியுடனும் பொருந்தி வந்தது. இன மற்றும் மதப் பிணைப்புக்கள் காரணமாகவும், கிரீமியப் போர்க் காலத்திலிருந்து ஆஸ்திரியாவுடன் இருந்து வந்த போட்டி காரணமாகவும், ரஷ்யா பரந்த-சேர்பியா இயக்கத்துக்கு ஆதரவாக இருந்தது. தோல்வியடைந்த ரஷ்ய-ஆஸ்திரிய ஒப்பந்தம், நூற்றாண்டுகளாக பால்க்கன் பகுதித் துறைமுகங்கள் மீது ரஷ்யாவுக்கு இருந்த ஆர்வம் என்பனவும் இதற்கான காரணங்களாக இருந்தன.[19] ஜூலை நெருக்கடியும் போர் அறிவிப்பும் முடிக்குரிய இளவரசர் கொல்லப்பட்டதை ஒரு சாக்காக வைத்து சேர்பியப் பிரச்சினையைக் கையாள ஆஸ்திரியா-ஹங்கேரிய அரசு முற்பட்டது. ஜேர்மனியும் இதற்கு ஆதரவாக இருந்தது. 1914 ஆம் ஆண்டு ஜூலை 23 ஆம் தேதி, பத்துக் கோரிக்கைகளுடன் கூடிய காலக்கெடு ஒன்றை ஆஸ்திரியா-ஹங்கேரி, சேர்பியாவுக்கு விதித்தது. இக் கோரிக்கைகளுட் சில மிகவும் கடுமையாக இருந்ததால் அதன் சாத்தியப்பாடுகள் குறித்து ஐயம் வெளியிட்ட சேர்பியா ஆறாவது கோரிக்கையை ஏற்க மறுத்துவிட்டது. பதில் அளிப்பதற்கான தொடக்க வரைவுகளில் இந்த ஆறாவது கோரிக்கையை ஏற்க சேர்பியா விருப்பம் தெரிவித்தது எனினும், ரஷ்யாவின் ஆதரவில் நம்பிக்கை வைத்த சேர்பியா பின்னர் இறுதி வரைவில் அதனை நீக்கிவிட்டது. அத்துடன் ஆயத்த நிலைக்கும் ஆணை பிறப்பித்தது. இதற்குப் பதிலாக ஜூலை 28 ஆம் தேதி ஆஸ்திரியா-ஹங்கேரி போர் அறிவிப்பை வெளியிட்டது. தொடக்கத்தில் ரஷ்யா ஆஸ்திரியாவின் எல்லையைக் குறிவைத்து பகுதித் தயார் நிலையொன்றுக்கு ஆணை பிறப்பித்தது. எனினும், ரஷ்யத் தளபதிகள், பகுதித் தயார்நிலை சாத்தியம் அற்றது என "சார்" (Czar) மன்னருக்குத் தெரிவித்ததைத் தொடர்ந்து, ஜூலை 31 ஆம் நாள் முழுத் தயார்நிலை ஆணை பிறப்பிக்கப்பட்டது. போருக்கான ஜேர்மனியின் ஸ்கிளீபென் திட்டம் விரைவாகப் பிரான்சைத் தாக்குவதை அடிப்படையாகக் கொண்டிருந்ததால், ரஷ்யா தயார்நிலைக்கு வர அனுமதிக்க முடியாத நிலை ஜேர்மனிக்கு ஏற்பட்டது. இதனால், ஆகஸ்ட் முதலாம் தேதி ஜேர்மனி, ரஷ்யா மீது போர் தொடுப்பதாக அறிவித்தது. இரண்டு நாட்களுக்குப் பின்னர் பிரான்சின் மீதும் போர் அறிவிப்புச் செய்யப்பட்டது. இதன் பின்னர், பாரிஸ் நோக்கிப் படை நடத்துவதற்காக நடுநிலை நாடான பெல்ஜியத்தின் இறைமையை மீறி அதனூடாகச் சென்றது. 1830 ஆம் ஆண்டின் பெல்ஜியப் புரட்சியின் தொடர்பாகச் செய்துகொள்ளப்பட்ட ஒப்பந்தமொன்றின்படி பெல்ஜியத்தின் நடுநிலைமையைப் பிரித்தானியா உறுதிப்படுத்தி இருந்தது. இதன் காரணமாகப் பிரித்தானியாவும் போரில் தலையிட வேண்டியதாயிற்று. இத்துடன் ஆறு ஐரோப்பிய வல்லரசுகளில் ஐந்து போரில் ஈடுபட்டிருந்தன. இது நெப்போலியன் காலத்துக்குப் பிற்பட்டு ஐரோப்பாக் கண்டத்தில் இடம் பெற்ற மிகப் பெரிய போராக இருந்தது.[20] நிகழ்வுகளின் காலவரிசை தொடக்க நடவடிக்கைகள் மைய நாடுகளிடையே குழப்பநிலை மைய நாடுகளின் போர் வியூகம் தொடர்புக் குறைபாடுகள் காரணமாகப் பாதிப்புக்கு உள்ளானது. ஆஸ்திரியா-ஹங்கேரியின் சேர்பியா மீதான படையெடுப்புக்கு ஆதரவு அளிக்க ஜேர்மனி ஒப்புக்கொண்டிருந்தது. எனினும், இதன் விளக்கம் குறித்து இரு நாடுகளிடையே வேறுபாடுகள் நிலவின. ஆஸ்திரியா-ஹங்கேரியத் தலைவர்கள், தமது வடக்கு எல்லையில் ரஷ்யாவைக் கவனித்துக் கொள்ளும் பணியை ஜேர்மனி ஏற்றுக்கொள்ளும் என எதிர்பார்த்தனர். ஆனால், ஜேர்மனியோ, பெரும்பாலான ஆஸ்திரியா-ஹங்கேரியப் படைகள் ரஷ்யாவுடனான எல்லைக்கு அனுப்பப்படும் என்றும், அதே வேளை தாம் பிரான்சைக் கையாள்வதென்றும் திட்டமிட்டது. இக் குழப்ப நிலையினால், ஆஸ்திரியா-ஹங்கேரியப் படைகளைப் பிரித்து ரஷ்ய எல்லைக்கும், சேர்பியாவுக்கும் அனுப்பவேண்டி இருந்தது. ஆப்பிரிக்கப் படைநடவடிக்கைகள் போரின் தொடக்ககால நடவடிக்கைகளில் ஒன்று பிரித்தானியா, பிரான்ஸ், ஜேர்மனி ஆகியவற்றை உள்ளடக்கி ஆப்பிரிக்காவில் இடம் பெற்றது. ஆகஸ்ட் 7 ஆம் நாள், பிரித்தானிய, பிரான்சியப் படைகள் ஜேர்மனியின் பாதுகாப்புப் பகுதியான டோகோலாந்துக்குள் புகுந்தன. ஆகஸ்ட் 10 ஆம் தேதி தென்மேற்கு ஆப்பிரிக்காவில் இருந்த ஜேர்மனியின் படைகள் தென்னாபிரிக்காவைத் தாக்கின. போர்க்காலம் முழுதும் தீவிரமான தாக்குதல்கள் ஆப்பிரிக்காவிலும் அவ்வப்போது நிகழ்ந்த வண்ணமே இருந்தன. சேர்பியப் படையெடுப்பு சேர்பியப் படைகள், ஆஸ்திரியா-ஹங்கேரிக்கு எதிரான சேர்ச் சண்டை எனப்பட்ட சண்டையில் ஆகஸ்ட் 12 ஆம் தேதியில் இருந்து ஈடுபட்டிருந்தன. இவை, டிரினா, சாவா ஆகிய ஆறுகளின் தெற்குக் கரையில் இருந்து தற்காப்புத் தாக்குதலை நடத்தின. அடுத்து இரண்டு கிழமைகளில் ஆஸ்திரியா-ஹங்கேரித் தாக்குதல்கள் பெரும் இழப்புக்களுடன் பின்னடைவுகளைச் சந்தித்தது. நேச நாடுகள் கூட்டணியின் குறிப்பிடத்தக்க முதல் வெற்றியான இது, ஆஸ்திரியாவின் விரைவான வெற்றி குறித்த கனவுகளைத் தகர்த்தது. இதனால், ஆஸ்திரியா தனது படைகளில் பெரும்பகுதியை சேர்பிய முனையில் ஈடுபடுத்த வேண்டி ஏற்பட்டதால், ரஷ்ய முனையிலான நடவடிக்கைகள் பலவீனமாயின. பெல்ஜியத்திலும் பிரான்சிலும் ஜேர்மன் படைகள் தொடக்கத்தில் இடம்பெற்ற எல்லைச் சண்டைகளில் (14 ஆகஸ்ட்–24 ஆகஸ்ட்) ஜேர்மனிக்குப் பல வெற்றிகள் கிடைத்தன. எனினும் ரஷ்யா கிழக்குப் பிரஷ்யாவைத் தாக்கியதால் மேற்கு முனையில் போராட வேண்டிய ஜேர்மன் படைகள் திசை திரும்பவேண்டிய நிலை ஏற்பட்டது. தானென்பர்க் சண்டை (17 ஆகஸ்ட் – 2 செப்டெம்பர்) என ஒருங்கே அழைக்கப்பட்ட தொடரான பல சண்டைகளில் ஜேர்மனி ரஷ்யாவைத் தோற்கடித்தது. எனினும் ரஷ்யப் போரினால் கவனம் திசை திரும்பியதால், போதிய வேகமின்மை காரணமாக ஜேர்மனியின் தளபதிகள் எதிர்பாராதபடி, மற்ற முனையில் பிரச்சினைகள் ஏற்பட்டன. ஸ்கிளீபென் திட்டப்படி, வலப்புறத்தில் ஜேர்மன் படைகள் பாரிசுக்கு மேற்குப்புறம் முன்னேற வேண்டும். ஆனால், குதிரைகளால் இழுக்கப்பட்ட போக்குவரத்து வண்டிகளில் இடவசதி, வேகம் என்பன போதாமையினால், ஜேர்மனியின் வழங்கல் பாதிக்கப்பட்டது. இதனால் இறுதியாக பிரித்தானிய, பிரான்சியப் படைகள் ஜேர்மனியின் படைகளை மார்னே முதற் சண்டை (5 செப்டெம்பர்–12 செப்டெம்பர்) என அழைக்கப்பட

## a

In [40]:
prep_df.head(50).tail(20)

,id,context,question,answer_text,answer_start,language,input_ids,token_type_ids,attention_mask,sequence_ids,offset_mapping,overflowing_batch_id,duplicated_elems_num_with,start_position,end_position,segmentation_position,is_contain_answer_text,max_successed_duplicated_elems_num_with
30,41660850a,"குழந்தையின் அழுகையை நிறுத்தவும், தூங்க வைக்கவ...",தமிழ்நாட்டில் குழந்தைகளை தூங்க வைக்க பாடும் பா...,தாலாட்டு,68,tamil,"[0, 9708, 129729, 8938, 49936, 6819, 46018, 69...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",9,1,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,3
31,41660850a,"குழந்தையின் அழுகையை நிறுத்தவும், தூங்க வைக்கவ...",தமிழ்நாட்டில் குழந்தைகளை தூங்க வைக்க பாடும் பா...,தாலாட்டு,68,tamil,"[0, 9708, 129729, 8938, 49936, 6819, 46018, 69...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",10,1,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,3
32,b29c82c22,சூரியக் குடும்பம் \nசூரியக் குடும்பம் (Solar S...,பூமியின் அருகில் உள்ள விண்மீன் எது?,சூரியனும்,585,tamil,"[0, 214166, 10540, 214953, 14935, 8120, 25650,...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, None, None, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",0,2,175,176,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1,2
33,b29c82c22,சூரியக் குடும்பம் \nசூரியக் குடும்பம் (Solar S...,பூமியின் அருகில் உள்ள விண்மீன் எது?,சூரியனும்,585,tamil,"[0, 214166, 10540, 214953, 14935, 8120, 25650,...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, None, None, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",1,2,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,2
34,b29c82c22,சூரியக் குடும்பம் \nசூரியக் குடும்பம் (Solar S...,பூமியின் அருகில் உள்ள விண்மீன் எது?,சூரியனும்,585,tamil,"[0, 214166, 10540, 214953, 14935, 8120, 25650,...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, None, None, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",2,1,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,2
35,b29c82c22,சூரியக் குடும்பம் \nசூரியக் குடும்பம் (Solar S...,பூமியின் அருகில் உள்ள விண்மீன் எது?,சூரியனும்,585,tamil,"[0, 214166, 10540, 214953, 14935, 8120, 25650,...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, None, None, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",3,1,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,2
36,b29c82c22,சூரியக் குடும்பம் \nசூரியக் குடும்பம் (Solar S...,பூமியின் அருகில் உள்ள விண்மீன் எது?,சூரியனும்,585,tamil,"[0, 214166, 10540, 214953, 14935, 8120, 25650,...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, None, None, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",4,2,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,2
37,b29c82c22,சூரியக் குடும்பம் \nசூரியக் குடும்பம் (Solar S...,பூமியின் அருகில் உள்ள விண்மீன் எது?,சூரியனும்,585,tamil,"[0, 214166, 10540, 214953, 14935, 8120, 25650,...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, None, None, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",5,1,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,2
38,b29c82c22,சூரியக் குடும்பம் \nசூரியக் குடும்பம் (Solar S...,பூமியின் அருகில் உள்ள விண்மீன் எது?,சூரியனும்,585,tamil,"[0, 214166, 10540, 214953, 14935, 8120, 25650,...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, None, None, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",6,0,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,2
39,b29c82c22,சூரியக் குடும்பம் \nசூரியக் குடும்பம் (Solar S...,பூமியின் அருகில் உள்ள விண்மீன் எது?,சூரியனும்,585,tamil,"[0, 214166, 10540, 214953, 14935, 8120, 25650,...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, None, None, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",7,0,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,2
40,b29c82c22,சூரியக் குடும்பம் \nசூரியக் குடும்பம் (Solar S...,பூமியின் அருகில் உள்ள விண்மீன் எது?,சூரியனும்,585,tamil,"[0, 214166, 10540, 214953, 14935, 8120, 25650,...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, None, None, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",8,0,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,2
41,b29c82c22,சூரியக் குடும்பம் \nசூரியக் குடும்பம் (Solar S...,பூமியின் அருகில் உள்ள விண்மீன் எது?,சூரியனும்,585,tamil,"[0, 214166, 10540, 214953, 14935, 8120, 25650,...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, None, None, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",9,0,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1,2
42,b29c82c22,சூரியக் குடும்பம் \nசூரியக் குடும்பம் (Solar S...,பூமியின் அருகில் உள்ள விண்மீன் எது?,சூரியனும்,585,tamil,"[0, 214166, 10540, 214953, 14935, 8120, 25650,...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, None, None, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",10,0,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,2
43,d419db018,மின்னணுவியல் (Electronics) மின்னணுக்கள் அல்லது...,திரிதடையங்களைப் பயன்படுத்திய முதல் நிறுவனம் எது?,IBM,4171,tamil,"[0, 22889, 6016, 4875, 87783, 24395, 2025, 757...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, Non...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",0,0,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,3
44,d419db018,மின்னணுவியல் (Electronics) மின்னணுக்கள் அல்லது...,திரிதடையங்களைப் பயன்படுத்திய முதல் நிறுவனம் எது?,IBM,4171,tamil,"[0, 22889, 6016, 4875, 87783, 24395, 2025, 757...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, Non...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",1,0,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,3
45,d419db018,மின்னணுவியல் (Electronics) மின்னணுக்கள் அல்லது...,திரிதடையங்களைப் பயன்படுத்திய முதல் நிறுவனம் எது?,IBM,4171,tamil,"[0, 22889, 6016, 4875, 87783, 24395, 2025, 757...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, Non...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",2,0,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,3
46,d419db018,மின்னணுவியல் (Electronics) மின்னணுக்கள் அல்லது...,திரிதடையங்களைப் பயன்படுத்திய முதல் நிறுவனம் எது?,IBM,4171,tamil,"[0, 22889, 6016, 4875, 87783, 24395, 2025, 757...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, Non...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",3,1,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,3
47,d419db018,மின்னணுவியல் (Electronics) மின்னணுக்கள் அல்லது...,திரிதடையங்களைப் பயன்படுத்திய முதல் நிறுவனம் எது?,IBM,4171,tamil,"[0, 22889, 6016, 4875, 87783, 24395, 2025, 757...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, Non...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",4,3,223,223,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1,3
48,d419db018,மின்னணுவியல் (Electronics) மின்னணுக்கள் அல்லது...,திரிதடையங்களைப் பயன்படுத்திய முதல் நிறுவனம் எது?,IBM,4171,tamil,"[0, 22889, 6016, 4875, 87783, 24395, 2025, 757...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, Non...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",5,0,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1,3
49,d419db018,மின்னணுவியல் (Electronics) மின்னணுக்கள் அல்லது...,திரிதடையங்களைப் பயன்படுத்திய முதல் நிறுவனம் எது?,IBM,4171,tamil,"[0, 22889, 6016, 4875, 87783, 24395, 2025, 757...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, Non...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",6,0,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,3

In [41]:
prep_df.query("id == 'd419db018'")

,id,context,question,answer_text,answer_start,language,input_ids,token_type_ids,attention_mask,sequence_ids,offset_mapping,overflowing_batch_id,duplicated_elems_num_with,start_position,end_position,segmentation_position,is_contain_answer_text,max_successed_duplicated_elems_num_with
43,d419db018,மின்னணுவியல் (Electronics) மின்னணுக்கள் அல்லது...,திரிதடையங்களைப் பயன்படுத்திய முதல் நிறுவனம் எது?,IBM,4171,tamil,"[0, 22889, 6016, 4875, 87783, 24395, 2025, 757...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, Non...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",0,0,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,3
44,d419db018,மின்னணுவியல் (Electronics) மின்னணுக்கள் அல்லது...,திரிதடையங்களைப் பயன்படுத்திய முதல் நிறுவனம் எது?,IBM,4171,tamil,"[0, 22889, 6016, 4875, 87783, 24395, 2025, 757...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, Non...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",1,0,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,3
45,d419db018,மின்னணுவியல் (Electronics) மின்னணுக்கள் அல்லது...,திரிதடையங்களைப் பயன்படுத்திய முதல் நிறுவனம் எது?,IBM,4171,tamil,"[0, 22889, 6016, 4875, 87783, 24395, 2025, 757...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, Non...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",2,0,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,3
46,d419db018,மின்னணுவியல் (Electronics) மின்னணுக்கள் அல்லது...,திரிதடையங்களைப் பயன்படுத்திய முதல் நிறுவனம் எது?,IBM,4171,tamil,"[0, 22889, 6016, 4875, 87783, 24395, 2025, 757...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, Non...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",3,1,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,3
47,d419db018,மின்னணுவியல் (Electronics) மின்னணுக்கள் அல்லது...,திரிதடையங்களைப் பயன்படுத்திய முதல் நிறுவனம் எது?,IBM,4171,tamil,"[0, 22889, 6016, 4875, 87783, 24395, 2025, 757...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, Non...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",4,3,223,223,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1,3
48,d419db018,மின்னணுவியல் (Electronics) மின்னணுக்கள் அல்லது...,திரிதடையங்களைப் பயன்படுத்திய முதல் நிறுவனம் எது?,IBM,4171,tamil,"[0, 22889, 6016, 4875, 87783, 24395, 2025, 757...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, Non...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",5,0,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1,3
49,d419db018,மின்னணுவியல் (Electronics) மின்னணுக்கள் அல்லது...,திரிதடையங்களைப் பயன்படுத்திய முதல் நிறுவனம் எது?,IBM,4171,tamil,"[0, 22889, 6016, 4875, 87783, 24395, 2025, 757...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, Non...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",6,0,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,3
50,d419db018,மின்னணுவியல் (Electronics) மின்னணுக்கள் அல்லது...,திரிதடையங்களைப் பயன்படுத்திய முதல் நிறுவனம் எது?,IBM,4171,tamil,"[0, 22889, 6016, 4875, 87783, 24395, 2025, 757...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, Non...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",7,0,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,3
51,d419db018,மின்னணுவியல் (Electronics) மின்னணுக்கள் அல்லது...,திரிதடையங்களைப் பயன்படுத்திய முதல் நிறுவனம் எது?,IBM,4171,tamil,"[0, 22889, 6016, 4875, 87783, 24395, 2025, 757...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, Non...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",8,0,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,3
52,d419db018,மின்னணுவியல் (Electronics) மின்னணுக்கள் அல்லது...,திரிதடையங்களைப் பயன்படுத்திய முதல் நிறுவனம் எது?,IBM,4171,tamil,"[0, 22889, 6016, 4875, 87783, 24395, 2025, 757...","[None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, Non...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[(-1, -1), (-1, -1), (-1, -1), (-1, -1), (-1, ...",9,0,0,0,"[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,3

In [42]:
row = prep_df.loc[47]

In [43]:
get_context_part(row["offset_mapping"], row["context"])

'ின் முதல் அரைப்பகுதியில் இவைதாம் மின்னனியல் புரட்சிக்கு வழிவகுத்தன.[4][5]  இவை வானொலி, தொலைக்காட்சி, இசைத்தட்டுகள், இராடார் (வீவாணி-வீச்சும் வாக்கும் காணி), நெடுந்தொலைவுத் தொலைபேசி ஆகிய தொழில்நுட்ப அமைப்புகளுக்கும் மேலும் பல நுட்பங்களுக்கும் வழிவகுத்தன. இவை 1980 கள் வரை நுண்ணலை உயர்திறன் செலுத்த்த்துக்கும் தொலைக்கட்சி அலைவாங்கிகளுக்கும் அடிப்படை உறுப்புகளாக அமைந்தன.[6] 1980 களில் இவற்றின் இடத்தைத் திண்மநிலைக்கருவிகள் கைப்பற்றின. சிறப்புப் பயன்பாடுகளான உயர்திறன் வானொலி அலைவெண் மிகைப்பிகளிலும் எதிர்முனைக் கதிர்க்குழல்களிலும் சிறப்பு ஒலியியல் கருவியாகிய கிதார் மிகைப்பிகளிலும் குழிக்காந்த மிகைப்பி போன்ற நுண்ணலைக் கருவிகளிலும் வெற்றிடக் குழல்கள் தாம் இன்றும் பயன்பாட்டில் உள்ளன.\n1955 ஏப்பிரலில் IBM 608 எனும் கணக்கீட்டுக் கருவியில் IBM நிறுவனம் முதலில் திரிதடையங்களைப் பயன்படுத்தியது. வணிகச் சந்தையில் புழங்கிய முதல் அனைத்துத் திரிதடையக் கணக்கீட்டுக் கருவி இதுவேயாகும்.[7][8] IBM 608 கணக்கீட்டுக் கருவியில்   3000 க்கும் மேற்பட்ட ஜெர்மேனியத் திரிதடையங்கள் பயன்பட்டன.  தாமசு ஜே. வாட்சன் இளவல் IBM பொருள்களில் திரிதடையங்களை மட்டுமே பயன்படுத்தவேண்டும் என்ற ஆணையை வழங்கினார். அப்போதிலிருந்தே கணினி தருக்கத்திலும் பிற இணைகருவிகளிலும் திரிதடையங்கள் மட்டுமே பயன்படலாயின.\nமின்னணுவியல் தொழில்நுட்பத்தின் அடிப்படைக் கருவியான திரிதடையம்.  கண்டுபிடித்த பின்னரே இத்துறை மாபெரும் வளர்ச்சி பெற்றது.கீ'

In [39]:
print(row["offset_mapping"][209:212+1])
# get_context_part(row["offset_mapping"], row["context"])[209:212]
row["context"][2357:2368]

[(2357, 2360), (2360, 2362), (2362, 2364), (2364, 2368)]

' காசுமீரில்'

In [30]:
get_context_part(row["offset_mapping"], row["context"])[209:]

'ுமீர் இடங்களில் அடையாளம் காணக்கூடிய சில முக்கிய தளங்களைக் குறிப்பிடலாம். இதுபோன்ற தளங்கள் காசுமீருக்கு வெளியே மிகவும் பிரபலமானவை அல்ல, எனவே, காசுமீருடன் நெருங்கிய தொடர்பில்லாதவர் ஒருவருக்குத் தெரிந்திருக்க முடியாது.\n காசுமீரி வம்சத்தின் சில புராணக் குறிப்புகளில், நகும்பா (காசுமீர் உரை நீலமாத புராணத்தில் குறிப்பிடப்பட்டுள்ளது) போன்றவை; காசுமீர் ஒரு ஏரியிலிருந்து உருவாக்கப்படுவது பற்றிய புராணக்கதை (சகுந்தலாவில்) குறிப்பிடப்பட்டுள்ளது. நிலாடா புராணத்தில் குறிப்பிடப்பட்டுள்ள இந்த புராணக் கதை, அனந்தா எனும் பழங்குடித் தலைவர், ஒரு பேயைக் கொல்ல ஒரு ஏரியை வடிகட்டி வைத்தார் என கருதப்படுகிறது. அனந்தா எனும் முன்னாள் ஏரி (இப்போது நிலம்) "காசுமீர்" என்று பெயரிடப்பட்டது, அவரது தந்தை காஷியாபாவுக்குப் பிறகு என்பது குறிப்பிடத்தக்கது.\n கல்லாவின் கூற்றுப்படி, சகுந்தலா பிராட்டியப்சினா தத்துவத்தின் (காசுமீர சைவம் ஒரு கிளை) ஒரு உருவகமான நாடகமாகும். அந்தக் கிளை, அந்த காலகட்டத்தில் காசுமீருக்கு வெளியே தெரியவில்லை என்று கல்லா மேலும் வாதிடுகிறார்.[11]\nநாட்டுப்புறக் கலைகளின்படி, காளிதாசன் முதலில் ஒரு அறிவார்ந்த நபராகவும், மற்றும் மகிஷபுரியின் இளவரசியை திருமணம் செய்துகொண்டவராகவும் சித்தரிக்கப்படுகிறார்.[12] அவரது மனைவியின் சவாலின்'

In [44]:
row = prep_df.loc[48]

In [45]:
get_context_part(row["offset_mapping"], row["context"])

'க்கீட்டுக் கருவி இதுவேயாகும்.[7][8] IBM 608 கணக்கீட்டுக் கருவியில்   3000 க்கும் மேற்பட்ட ஜெர்மேனியத் திரிதடையங்கள் பயன்பட்டன.  தாமசு ஜே. வாட்சன் இளவல் IBM பொருள்களில் திரிதடையங்களை மட்டுமே பயன்படுத்தவேண்டும் என்ற ஆணையை வழங்கினார். அப்போதிலிருந்தே கணினி தருக்கத்திலும் பிற இணைகருவிகளிலும் திரிதடையங்கள் மட்டுமே பயன்படலாயின.\nமின்னணுவியல் தொழில்நுட்பத்தின் அடிப்படைக் கருவியான திரிதடையம்.  கண்டுபிடித்த பின்னரே இத்துறை மாபெரும் வளர்ச்சி பெற்றது.கீழே சில மின்னனியல் வரலாற்று நிகழ்வுகள் தரப்படுகின்றன.\n 1897 - அணுத் துகள்களில் ஒன்றான மின்னனைக் (electron) ஜெ. ஜெ. தாம்சன். கண்டுபிடித்தார்.\n 1904 - ஜான் அம்புரோசு பிளெமிங் வெப்பமின்னணுக் குழலைக்  கண்டுபிடித்தார். இது செயற்பாட்டில் திரிதடையங்ளை ஒத்த மும்முனையம் ஆகும்.\n 1947 - வில்லியம் ஷாக்லி, ஜான் பர்டீன், வால்டர் பிராட்டைன் ஆகியோர் திரிதடையத்தைக் கண்டுபிடித்தனர்.\n 1940-1950 - கணினி உருவாக்கம்\n 1959 - ஜாக் கில்பி ஒருங்கிணைந்த சில்லு கண்டுபிடித்தார்.\n 2000 - மீநுண் திரிதடையம்\n மின்னணுவியல் கருவிகளும் உறுப்புகளும்  \nthumbnail| மின்னணு உறுப்புகள்\n\nமின்னணுக் கூறு என்பது ஒரு இலத்திரனியல் அமைப்பில்  எதிர்பார்க்கப்படுகின்ற வகையில் அவ்வமைப்பு செயல்பட ஏதுவாக இலத்திரன்களையோ அதன் தொடர்புடைய புலங்களையோ பாதிக்கின்ற  உளதாம் பொருளாகும்.  இக்கூறுகள் பொதுவாக மற்றக்கூறுகளுடன் \nகுறிப்பிட்ட செயற்பாட்டை  (காட்டாக  பெருக்கி, வானொலி பெற'

In [10]:
" ".join(get_context_part(row["offset_mapping"], row["context"]).split())

'।[4] वह अपनी नानी से पोलिश भाषा में बात करती थीं तथा अपने चलचित्र-प्रेमी पिता के साथ फेडरिको फेलिनी और सत्यजित राय के फिल्म देखा करती थीं।[3] भारत में एक पारिवारिक अवकाश के दौरान एक भीड़ में एक एजेंट के द्वारा रे को देखा गया था। उस समय वह 16 साल की थीं तथा उसी समय उन्होंने मॉडलिंग भी शुरू की थी।[3] जीवन-वृत्ति लीसा रे पहली बार लोगों को तब ध्यानाकर्षित किया जब वह बॉम्बे डाइंग के एक विज्ञापन में दिखाई दीं जिसमें वह करन कपूर की विपरीत भूमिका में हाई-कट वाली काले रंग की तैराकी-पोशाक[2] पहनी हुई थीं।[5] इसके बाद, वह पत्रकारिता की पढ़ाई के लिए विश्वविद्यालय जाने के उद्देश्य से कनाडा लौटीं, लेकिन एक सड़क हादसे ने उनकी योजनाओं पर पानी फेर दिया क्योंकि इस दुर्घटना में उनकी मां घायल हो गई थीं। जिसके परिणामस्वरूप वह भारत लौट आईं। यहां वह ग्लैड रैग्स के कवर पेज पर लाल रंग की बेवाच -शैली वाली एक तैराकी-पोशाक पहनी हुई दिखाई दीं। इस सनसनी के कारण उन्हें और ज्यादा पत्रिकाओं के कवर पेज पर देखा जाने लगा और वह स्पोक्सपर्सन के डील में भी नज़र आने लगी और अंत में उसने अपने स्वयं के शो-व्यवसाय के कार्यक्रम के मेज़बान के रूप में काम भी किया। टाइम्स ऑफ़ इंडिया के एक जनमत सर्वेक्षण ने उन्हें "सहस्राब्दी की नौवीं सर्वाधिक सुन्दर महिला" का नाम दिया। वह इस शीर्ष-दस में एकमात्र मॉडल थीं।[4] 1994 में उन्होंने नेताजी नामक एक तमिल फिल्म से अपनी पहली सिनेमाई शुरुआत की, जिसमें उनके विपरीत अभिनेता सरत कुमार थे। इसमें वह एक संक्षिप्त भूमिका में दिखाई दी। जिसे अनदेखा कर दिया गया। अनगिनत भूमिका'

In [15]:
print(row["context"])

अमेरिका में जन्मीं अभिनेत्री तथा फैशन डिज़ाइनर जिन्हें आधिकारिक तौर पर लिज़ारे के रूप में जाना जाता हैं, उनके बारे में जानने के लिए लिज़ारे मैककॉय-मिसिक देखें।

लीजा रे (बंगाली: লিসা রায়), जन्म 4 अप्रैल 1972, एक कैनेडियन अभिनेत्री तथा पूर्व फैशन मॉडल हैं।[1] 23 जून 2009 को उनका डाइग्नोसिस करने पर उन्हें मल्टीपल मायेलोमा से ग्रस्त पाया गया और 2 जुलाई 2009 को उनके उपचार का पहला उपक्रम शुरू किया गया।[2]
 प्रारंभिक जीवन
लीसा रे का जन्म टोरंटो, ओंटारियो, कनाडा में एक बंगाली भारतीय पिता और एक पोलिश माता के यहां हुआ और वह टोरंटो के एक उपनगर एटोबिकोक में बड़ी हुई.[3] उन्होंने चार उच्च-विद्यालयों में पांच वर्षों की पढ़ाई में अकादमिक तौर पर अपनी श्रेष्ठता का परिचय दिया। उन्होंने तीन अलग-अलग उच्च-विद्यालयों: एटोबिकोक कॉलेजिएट इंस्टिट्यूट, रिचव्यू कॉलेजिएट इंस्टिट्यूट और सिल्वरथॉर्न कॉलेजिएट इंस्टिट्यूट में पढ़ाई की।[4]
वह अपनी नानी से पोलिश भाषा में बात करती थीं तथा अपने चलचित्र-प्रेमी पिता के साथ फेडरिको फेलिनी और सत्यजित राय के फिल्म देखा करती थीं।[3] भारत में एक पारिवारिक अवकाश के दौरान एक भीड़ में एक एजेंट के द्वारा रे को देखा गया था। उस समय वह 16 साल की थीं तथा उसी समय उन्होंने मॉडलिंग भी शुरू की थी।[3]
 जीवन-वृत्ति
लीसा रे पहली बार लोगों को तब ध्यानाकर्षित किया जब वह बॉम्बे डाइंग के एक विज्ञापन में दिखाई दीं जिसमें वह करन कपूर की विपरीत भूमिका में हाई-कट वाली काले रंग की तैराकी-पोशाक[2] पहनी हुई थीं।[5] इसके बाद, वह पत्रकारिता की पढ़ाई के लिए विश्वविद्यालय जाने के उद्देश्य से कनाडा लौटीं, लेकिन एक सड़क हादसे ने उनकी योजनाओं पर पानी फेर दिया क्योंकि इस दुर्घटना में उनकी मां घायल हो गई थीं। जिसके परिणामस्वरूप वह भारत लौट आईं। यहां वह ग्लैड रैग्स के कवर पेज पर लाल रंग की बेवाच -शैली वाली एक तैराकी-पोशाक पहनी हुई दिखाई दीं। इस सनसनी के कारण उन्हें और ज्यादा पत्रिकाओं के कवर पेज पर देखा जाने लगा और वह स्पोक्सपर्सन के डील में भी नज़र आने लगी और अंत में उसने अपने स्वयं के शो-व्यवसाय के कार्यक्रम के मेज़बान के रूप में काम भी किया। टाइम्स ऑफ़ इंडिया के एक जनमत सर्वेक्षण ने उन्हें "सहस्राब्दी की नौवीं सर्वाधिक सुन्दर महिला" का नाम दिया। वह इस शीर्ष-दस में एकमात्र मॉडल थीं।[4]
1994 में उन्होंने नेताजी नामक एक तमिल फिल्म से अपनी पहली सिनेमाई शुरुआत की, जिसमें उनके विपरीत अभिनेता सरत कुमार थे। इसमें वह एक संक्षिप्त भूमिका में दिखाई दी। जिसे अनदेखा कर दिया गया। अनगिनत भूमिकाओं के बाद,[6] 2001 में कसूर फिल्म के साथ उन्होंने बॉलीवुड में अपना पहला कदम रखा जिसमें उनके विपरीत अभिनेता आफताब शिवदासानी थे।[5] बाद में उनकी ध्वनि को दिव्या दत्ता की ध्वनि से डब कर दिया गया क्योंकि वह हिंदी नहीं बोल पाती थीं।[7] उस फिल्म में उन्होंने जो काम किया उस पर दीपा मेहता की नज़र पड़ी जिन्होंने 2002 में बॉलीवुड/हॉलीवुड में रूमानी भारतीय-कैनेडियन हुड़दंगिन के किरदार के लिए रे को अभिनीत किया।[3] 2005 में, उन्होंने पुनः मेहता के साथ ऑस्कर-मनोनीत फिल्म वाटर में काम किया। इसमें उन्होंने अपनी पंक्तियों को हिंदी में ही कहा यद्यपि फिल्म को अंतिम रूप देने के समय उनकी ध्वनि को डब कर दिया गया।[7] उसके बाद से उन्होंने कनाडा, यूरोप और संयुक्त राज्य अमेरिका की फिल्मों में ही काम किया है।
हाल ही में निभाई गई भूमिकाओं में, ऑल हैट में खेत में काम करने वाली एक लड़की, ए स्टोंस थ्रो में विद्यालय की एक अध्यापिका, द वर्ल्ड अनसीन में 50 के दशक की रंगभेद वाली दक्षिण अफ्रीका की एक गृहिणी और शमीम सैरिफ द्वारा निर्देशित एवं हास्यपूर्ण ढंग से शीर्षित "आइ कांट थिंक स्ट्रेट" में एक ईसाई-अरब समलैंगिक स्त्री की भूमिका शामिल हैं।
2007 में, उन्होंने किल किल फास्टर फास्टर के चलचित्रण को पूरा किया जो जोएल रोज़ द्वारा इसी नाम से लिखे गए तथा समीक्षात्मक रूप से सराहनीय उपन्यास से प्रेरित एक समकालीन फिल्म नॉइर है।
1996 में वह नुसरत फ़तेह अली खान की प्रसिद्द गीत "आफ़रीं आफ़रीं" में दिखाई दीं।
लीसा रे को हेलो नामक पत्रिका के कैनेडियन संस्करण में देश के '50 सर्वाधिक सुंदर लोगों' में से एक के रूप में प्रर्दशित किया गया है।
 व्यक्तिगत जीवन
लीसा रे अपने पुराने साथी तथा अति सफल फैशन फोटोग्राफर पाओलो ज़ैम्बाल्डी के साथ रह रही हैं। 23 जून 2009 को उनका डाइग्नोसिस करने पर उन्हें मल्टीपल मायेलोमा से ग्रस्त पाया गया जो कि प्लाज़्मा कोशिकाओं के रूप में ज्ञात सफ़ेद रक्त कोशिकाओं का एक कैंसर है जो एंटीबॉडी (रोग-प्रतिकारक क्षमता) का उत्पादन करते हैं। यह एक दुर्लभ और लाइलाज बीमारी है।[8][9]
 अवार्ड्स
 2002 टोरंटो अंतर्राष्ट्रीय चलचित्र समारोह में भविष्य का समर्थित सितारा,[10]
 टाइम्स ऑफ़ इंडिया द्वारा सहस्राब्दी की शीर्ष-दस सर्वाधिक सुंदर भारतीय महिला
 वैंकूवर क्रिटिक्स सर्कल द्वारा वाटर के लिए कैनेडियन फिल्म की सर्वश्रेष्ठ अभिनेत्री का खिताब जीता (संदर्भ: imdb.com, ग्लो पत्रिका, दिसम्बर 2007).
चलचित्र-सूची

इन्हें भी देखें
 ऐंड्रिता रे
 जेनिफ़र लॉरेंस
 केट विंसलेट
 केट अप्टन
 सन्दर्भ

 बाहरी कड़ियाँ

  at IMDb



 जॉर्ज स्ट्रॉमबॉलोपॉलस के साथ द आवर पर



श्रेणी:1972 में जन्मे लोग
श्रेणी:कैनेडियन फिल्म अभिनेता
श्रेणी:हिन्दी अभिनेत्री
श्रेणी:भारतीय महिला मॉडल
श्रेणी:भारतीय-कैनेडियंस
श्रेणी:पोलिश मूल के कैनेडियंस
श्रेणी:जीवित लोग
श्रेणी:एटोबिकोक के लोग
श्रेणी:मॉडल
श्रेणी:गूगल परियोजना

In [10]:
"சத்தோசி நகமோட்டோவால் ".split()

['சத்தோசி', 'நகமோட்டோவால்']

In [11]:
from transformers import AutoTokenizer

tokenizer = AutoTokenizer.from_pretrained("../data/dataset/deepset/xlm-roberta-large-squad2/")

In [16]:
tokenizer.tokenize("ल थीं।[4] 1994 में उन्होंने नेताजी नामक ए")

['▁ल',
 '▁थीं',
 '।',
 '[4]',
 '▁1994',
 '▁में',
 '▁उन्होंने',
 '▁नेता',
 'जी',
 '▁नामक',
 '▁ए']

In [19]:
tokenizer.tokenize("ल थीं।[4]\n1994 में उन्होंने नेताजी नामक ए")

['▁ल',
 '▁थीं',
 '।',
 '[4]',
 '▁1994',
 '▁में',
 '▁उन्होंने',
 '▁नेता',
 'जी',
 '▁नामक',
 '▁ए']

In [13]:
tokenizer.tokenize("சத்தோசி நகமோட்டோவால் ")

['▁ச', 'த்த', 'ோ', 'சி', '▁ந', 'க', 'மோ', 'ட்ட', 'ோ', 'வால்', '▁']